.store__container {
  max-width: 1215px;
  padding-left: 10px;
  padding-right: 28px;
  width: 100%;
  margin: auto;
}

.button--desactive {
  color: #a2a2a2;
}

.div-content {
  display: flex;
  min-height: 70vh;
  &__rigth {
    border-left: 1px solid #c4c4c4;
  }
  &__left {
    width: calc(100% - 350px);
  }
  &__scroll {
    overflow: auto;
  }
}

.resume {
  padding: 10px;
  width: 100%;
  min-width: 250px;
  max-width: 350px;
  font-family: Montserrat;
  color: #828282;
  &__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2em;
    color: #2b2b2b;
  }
  &__divider {
    width: 100%;
    height: 2px;
    background-color: #828282;
  }
  &__list {
    font-size:0.9em
  }
  &__descrip {
    letter-spacing: 0.05em;
  }
  &__small {
    font-size: 0.7em;
    margin-top: 5px;
  }
  &__subtitle {
    font-family: Raleway;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #555555;
  }
  &__button {
    width: 250px;
  }
}

.email-form {
  display: flex;
  margin: auto;
  font-size: 1em;
  width: 100%;
  padding-left: 15px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;

  &__input {
    margin: 5px 0;
    width: 100%;
    &:focus {
      outline: none;
    }
  }

  &__button {
    border-radius: 0;
    min-width: 45px !important;
    padding: 5px !important;
    background-color: black;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}


.lds-ring {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  margin: 8px;
  border: 8px solid #c4c4c4;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #c4c4c4 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.delivery {
  padding: 35px;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  max-width: 500px;
  margin: auto;
  &__title {
    font-size: 1.1em;
    font-weight: 700;
    font-family: Raleway;
  }
}

.voucher {
  border: 1px solid #4f4f4f;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mini-img{
  height: 40px;
}