.banner__category {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-top: 16px;
  margin-right: 16px;
  background-color: white;
}

.banner__image {
  width: 100%;
  width: 120px;
  height: 120px;
  object-fit: contain;
}
