<div class="ms-flex">
  <h2 mat-dialog-title style="margin: 0px 0px"> <mat-icon style="vertical-align:middle; margin-right: 8px" >corporate_fare</mat-icon>{{data.edit ? 'Editar' : 'Crear'}}</h2>
  <span class="ms-fill"></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-divider></mat-divider>

<mat-dialog-content>
  <div class="w3-row">
    <div [formGroup]="placeFormGroup">
      <div class="w3-half w3-padding">

        <mat-form-field class="w3-block w3-small" appearance="outline">
          <mat-label>Departamento</mat-label>
          <mat-select formControlName="department">
            <mat-option *ngFor="let item of departmentList" (click)="selectDepartment(item)" [value]="item">
              {{ item.name | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w3-block w3-small" appearance="outline">
          <mat-label>Provincia</mat-label>
          <mat-select formControlName="providence">
            <mat-option *ngFor="let item of providenceList" (click)="selectProvidence(item)" [value]="item">
              {{ item.name | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w3-block w3-small" appearance="outline">
          <mat-label>Distrito</mat-label>
          <mat-select formControlName="district">
            <mat-option *ngFor="let item of districtList" (click)="selectDistrict(item)" [value]="item">
              {{ item.name | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="w3-half w3-padding">
        <mat-form-field class="w3-block w3-small" appearance="outline">
          <mat-label>Dirección</mat-label>
          <input matInput type="text" formControlName="address" placeholder="Dirección" autocomplete="off">
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-divider></mat-divider>

<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
  <button mat-raised-button color="primary" [disabled]="!placeFormGroup.valid">Crear</button>
</mat-dialog-actions>