<mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
<div *ngIf="init$ | async">
  <div class="w3-section">
    <h4>Redes Sociales</h4>

    <form [formGroup]="socialForm" class="w3-row-padding">
      <div class="w3-col m6 l6">
        <div class="social-form w3-margin-top w3-margin-bottom">
          <div class="social-form__button">
            <img src="../../../../assets/images/facebook.png" alt="" />
          </div>
          <input matInput type="text" formControlName="facebook" autocomplete="off" class="social-form__input"
            style="border: none" />
        </div>
      </div>
      <div class="w3-col m6 l6">
        <div class="social-form w3-margin-top w3-margin-bottom">
          <div class="social-form__button">
            <img src="../../../../assets/images/logotipo-de-instagram.png" alt="" />
          </div>
          <input matInput type="text" autocomplete="off" formControlName="instagram" class="social-form__input"
            style="border: none" />
        </div>
      </div>
      <div class="w3-col m6 l6">
        <div class="social-form w3-margin-top w3-margin-bottom">
          <div class="social-form__button">
            <img src="../../../../assets/images/twitter.png" alt="" />
          </div>
          <input matInput type="text" formControlName="twitter" autocomplete="off" class="social-form__input"
            style="border: none" />
        </div>
      </div>
      <div class="w3-col m6 l6">
        <div class="social-form w3-margin-top w3-margin-bottom">
          <div class="social-form__button">
            <img src="../../../../assets/images/whatsapp.png" alt="" />
          </div>
          <input matInput type="text" formControlName="whatsapp" autocomplete="off" class="social-form__input"
            style="border: none" />
        </div>
      </div>
    </form>
    <div style="text-align: right;" class="w3-margin-top">
      <button mat-raised-button color="primary" [disabled]="loading$ | async" (click)="saveSocial()">Guardar</button>
    </div>
  </div>
  <hr>
  <div class="w3-section">
    <h4>Información de contacto</h4>
    <div class="w3-row-padding">
      <div class="w3-col m6 l6">
        <form [formGroup]="contactForm" class="w3-margin-top">
          <mat-form-field class="w3-block" appearance="outline">
            <mat-label>Dirección</mat-label>
            <input autocomplete="off" formControlName="address" type="text" matInput />
            <mat-icon style="margin-right: 8px;" matPrefix>location_on</mat-icon>
          </mat-form-field>
          <mat-form-field class="w3-block" appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input autocomplete="off" formControlName="phone" type="tel" matInput />
            <mat-icon style="margin-right: 8px;" matPrefix>phone</mat-icon>
          </mat-form-field>
          <mat-form-field class="w3-block" appearance="outline">
            <mat-label>Correo</mat-label>
            <input autocomplete="off" formControlName="email" type="text" matInput />
            <mat-icon style="margin-right: 8px;" matPrefix>email</mat-icon>
          </mat-form-field>
        </form>
      </div>
      <div class="w3-col m6 l6">
        <google-map height="280px" width="100%" [center]="center" [zoom]="zoom" (mapClick)="mapClicked($event)">
          <map-marker [position]="center"></map-marker>
        </google-map>
      </div>
    </div>
    <div style="text-align: right;" class="w3-margin-top">
      <button mat-raised-button color="primary" [disabled]="loading$ | async" (click)="saveContact()">Guardar</button>
    </div>
  </div>
  <hr>
  <div class="w3-section">
    <h4>Correo de envio de mensajes</h4>
    <div class="w3-row-padding">

      <div class="w3-col m6 l6">
        <mat-form-field class="w3-block" appearance="outline">
          <mat-label>Correo</mat-label>
          <input autocomplete="off" [formControl]="emailForm" type="email" matInput />
          <mat-icon style="margin-right: 8px;" matPrefix>email</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div style="text-align: right;" class="w3-margin-top">
      <button mat-raised-button color="primary" [disabled]="!emailForm.valid" (click)="saveEmail()">Guardar</button>
    </div>
  </div>
</div>