<div mat-dialog-title>
  <h2 style="font-size:1.2em; font-family: Montserrat; font-weight: 900;">
    <mat-icon style="vertical-align:middle">add_circle</mat-icon>
    {{data.edit?'Editar':'Agregar'}} Banner
  </h2>
  <mat-divider></mat-divider>
  <mat-progress-bar mode='indeterminate' *ngIf="loading$ | async"></mat-progress-bar>
</div>
<mat-dialog-content style="width: 800px; max-width: 80vw;">
  <form [formGroup]="createForm" class="w3-row">
    <div class="w3-col m6 l6 w3-padding">
      <p>
        Imagen para Desktop
      </p>
      <!-- Photo  -->
      <div style="margin: 16px 0;text-align: center; ">
        <img class="w3-card-4" (click)="photoURL.click()" *ngIf="createForm.get('photoURL').value!=null"
          style="max-width:100%;max-height: 200px; object-fit: contain;" [src]="createForm.get('photoURL').value"
          alt="fotografía">
        <img class="w3-card-4" (click)="photoURL.click()" *ngIf="createForm.get('photoURL').value==null"
          style="max-width:100%;max-height: 200px; object-fit: contain;" [src]="noImage" alt="sin fotografía">

        <mat-progress-bar *ngIf="photos?.resizing$?.photoURL | async" style="width:100%" mode="indeterminate">
        </mat-progress-bar>
        <span *ngIf="photos.resizing$?.photoURL | async" class="w3-small ms-color-11 ms-font-montserrat"
          style="width:100%">*comprimiendo</span>
        <input style="display: none" #photoURL type="file" accept='image/*'
          (change)="addNewPhoto('photoURL', photoURL.files)" />
      </div>

      <p>Imagen para Móvil</p>
      <!-- Photo  -->
      <div style="margin: 16px 0; text-align: center;">
        <img class="w3-card-4" (click)="photomovilURL.click()" *ngIf="createForm.get('photomovilURL').value!=null"
          style=" max-width:100%;max-height: 200px; object-fit: contain;" [src]="createForm.get('photomovilURL').value"
          alt="fotografía">
        <img class="w3-card-4" (click)="photomovilURL.click()" *ngIf="createForm.get('photomovilURL').value==null"
          style="max-width:100%;max-height: 200px; object-fit: contain;" [src]="noImage" alt="sin fotografía">

        <mat-progress-bar *ngIf="photos?.resizing$.photomovilURL | async" style="width:100%" mode="indeterminate">
        </mat-progress-bar>
        <span *ngIf="photos.resizing$.photomovilURL | async" class="w3-small ms-color-11 ms-font-montserrat"
          style="width:100%">*comprimiendo</span>
        <input style="display: none" #photomovilURL type="file" accept='image/*'
          (change)="addNewPhoto('photomovilURL', photomovilURL.files)" />
      </div>

    </div>
    <div class="w3-col m6 l6 w3-padding">
      <div>
        <label>Redirige a:</label>
        <mat-radio-group class="example-radio-group" color="primary" formControlName="redirectTo">
          <mat-radio-button *ngFor="let season of redirects" [value]="season">
            {{season}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
      <hr>
      <div *ngIf="createForm.get('redirectTo').value=='Link externo'">

        <mat-form-field class="w3-block" appearance="outline">
          <mat-label>Link Externo</mat-label>
          <textarea autocomplete="off" formControlName="link" type="text" matInput placeholder="Escriba.."
            rows="3"></textarea>
        </mat-form-field>
      </div>
      <div *ngIf="createForm.get('redirectTo').value=='Producto'">
        <h2 style="font-size:1em; font-weight:600">
          <mat-icon style="vertical-align:middle">format_list_bulleted</mat-icon> Lista de Productos
        </h2>
        <hr>
        <mat-form-field *ngIf="products$ | async as products" style="margin-bottom: 8px; display:block"
          appearance="outline">
          <mat-label>Productos</mat-label>
          <input autocomplete="off" formControlName="product" [matAutocomplete]="productAutocomplete" type="text"
            (keyup.enter)="addProduct()" matInput>
          <mat-autocomplete autoActiveFirstOption #productAutocomplete="matAutocomplete" [displayWith]="showSelected">
            <mat-option *ngFor="let product of products" [value]="product" (click)="addProduct()"
              (keyup.enter)="addProduct()">
              {{product['description']}}
            </mat-option>
          </mat-autocomplete>
          <mat-hint>
            Presione ENTER para agregar
          </mat-hint>
        </mat-form-field>


        <div class="w3-section">
          <ng-container *ngFor="let item of products">
            <div class="w3-border-bottom w3-border-lightgray w3-padding" style="display:flex; align-items: center">
              <span>{{item['description']}}</span>
              <button mat-icon-button (click)="removeProduct(item)" type="button">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-container>
        </div>
        <div *ngIf="!products.length" class="w3-center">
          <p style="font-size:14px">Agregue un producto a la lista</p>
        </div>
      </div>

      <div *ngIf="createForm.get('redirectTo').value=='Categoría/subcategoría'">
        <mat-form-field style="margin-bottom: 8px; display:block" appearance="outline">
          <mat-label>Categorías</mat-label>
          <input autocomplete="off" formControlName="category" [matAutocomplete]="categoryAutocomplete" type="text"
            matInput>
          <mat-autocomplete autoActiveFirstOption #categoryAutocomplete="matAutocomplete" [displayWith]="showCategory">
            <mat-option *ngFor="let category of category$ | async" [value]="category">
              {{category.completeName}}
            </mat-option>
          </mat-autocomplete>
          <!--mat-error>
              <span *ngIf="firstFormGroup.get('category').errors?.required">Campo requerido</span>
              <span *ngIf="firstFormGroup.get('category').errors?.validateName">Dato no válido</span>
            </mat-error-->
        </mat-form-field>
      </div>

      <div *ngIf="createForm.get('redirectTo').value=='Marca'">

        <mat-form-field *ngIf="brand$ | async as brands" style="margin-bottom: 8px; display:block" appearance="outline">
          <mat-label>Marcas</mat-label>
          <input autocomplete="off" formControlName="brand" [matAutocomplete]="brandAutocomplete" type="text" matInput>
          <mat-autocomplete autoActiveFirstOption #brandAutocomplete="matAutocomplete">

            <mat-option *ngFor="let brand of brands" [value]="brand">
              {{brand}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>



  </form>
  <mat-divider></mat-divider>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button class="w3-margin-right" mat-dialog-close>Cancelar</button>
  <div *ngIf="data.edit">
    <button mat-raised-button color="primary" (click)="editSubmit()" type="button"
      [disabled]="createForm.status != 'VALID'">Editar</button>
  </div>
  <div *ngIf="!data.edit">
    <button mat-raised-button color="primary" (click)="onSubmitForm()" type="button"
      [disabled]="createForm.status != 'VALID'">Guardar</button>
  </div>

</mat-dialog-actions>