.reveal {
  display: inline-block;
}

.triangleTopLeft {
  width: auto;
  position: relative;
}

.promo {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0px;
  z-index: 3;
  background: #ef5350;
  padding: 3px 7px;
  color: white;
  font-size: 0.7em;
  letter-spacing: 0.2em;
}

.tag {
  display: block;
  text-align: center;
  font-size: 12px;
  padding: 8px 12px;

  &--published {
    border-radius: 8px 8px;
    background: rgb(116, 223, 10);
  }

  &--hidden {
    border-radius: 8px 8px;
    background: gold;
  }
}
