<div mat-dialog-title>
  <div class="ms-flex">
    <h2 style="font-weight: 600;font-size: 1em;">
      Números de Serie
    </h2>
    <span class="ms-fill"></span>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>

</div>
<div mat-dialog-content>
  <ng-container *ngIf="(serialNumber$ | async) as serialNumber; else loading">
    <mat-list *ngIf="serialNumber.length; else default">
      <ng-container *ngFor="let serial of serialNumber">
        <div mat-subheader>{{serial.colorName}}</div>
        <mat-list-item *ngFor="let element of serial.serial">
          <mat-icon mat-list-icon>radio_button_checked</mat-icon>
          <div mat-line>{{element.barcode}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-list>
    <ng-template #default>
      <p>Sin resultados.</p>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <div style="display: flex; flex-direction: row; justify-content: center;">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</div>