
<div class="animated fadeIn delay-4 slower">
  <div class="ms-container w3-section">
    <h2 class="title">
      <mat-icon style="vertical-align: middle;">settings</mat-icon>
      Configuración 
    </h2>
    <mat-divider></mat-divider>
    <mat-sidenav-container style="min-height:77vh">

      <mat-sidenav mode="side" style="width: 250px;" [opened]="dbs.openConfi" class="mat-elevation-z4">
        <button mat-button class="w3-block menu__button"  routerLink="marcas">
          <mat-icon class="menu__icon">sell</mat-icon>
          Marcas
        </button>
        <button mat-button class="w3-block menu__button w3-border-top w3-border-light-grey" routerLink="categorias">
          <mat-icon class="menu__icon">apps</mat-icon>
          Categorías
        </button>
        <button mat-button class="w3-block menu__button w3-border-top w3-border-light-grey" routerLink="stores">
          <mat-icon class="menu__icon">storefront</mat-icon>
          Tiendas
        </button>
        <button mat-button class="w3-block menu__button w3-border-top w3-border-light-grey" routerLink="asesores">
          <mat-icon class="menu__icon">remember_me</mat-icon>
          Asesores
        </button>
        <button mat-button class="w3-block menu__button w3-border-top w3-border-light-grey" routerLink="cupones">
          <mat-icon class="menu__icon">local_play</mat-icon>
          Cupones
        </button>
        <button mat-button class="w3-block menu__button w3-border-top w3-border-light-grey" routerLink="payments">
          <mat-icon class="menu__icon">local_atm</mat-icon>
          Métodos de pago
        </button>
      </mat-sidenav>
    
      <mat-sidenav-content class="w3-padding">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    
    </mat-sidenav-container>
  </div>
</div>