.menu__button {
  text-align: left;
  border-radius: 0px 0px 0px 0px;
  padding: 5px 24px;
  font-size: 1em;
  letter-spacing: 0.05em;
  font-family: Montserrat;
  //color: #2B2B2B;
}

.menu__icon{
  margin-right: 8px;
}