<!--div class="ms-container w3-section w3-padding">
  <h2 class="title">
    <mat-icon style="vertical-align: middle;">build</mat-icon>
    Configuración Ventas
  </h2>
  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of links" [routerLink]="link['route']" routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      {{link['name']}}
    </a>
  </nav>
  <div class="w3-padding w3-section">
    <router-outlet></router-outlet>
  </div>
</div-->
<div class="animated fadeIn delay-4 slower">
  <div class="ms-container w3-section">
    <h2 class="title">
      <mat-icon style="vertical-align: middle;">setting</mat-icon>
      Configuración 
    </h2>
    <mat-divider></mat-divider>
    <mat-sidenav-container style="min-height:77vh">

      <mat-sidenav mode="side" style="width: 250px;" [opened]="dbs.openConfi" class="mat-elevation-z4">
        <button mat-button class="w3-block menu__button"  routerLink="marcas">
          <mat-icon class="menu__icon">language</mat-icon>
          Marcas
        </button>
        <button mat-button class="w3-block menu__button w3-border-top w3-border-light-grey" routerLink="categorias">
          <mat-icon class="menu__icon">build</mat-icon>
          Categorías
        </button>
        <button mat-button class="w3-block menu__button w3-border-top w3-border-light-grey" routerLink="stores">
          <mat-icon class="menu__icon">widgets</mat-icon>
          Tiendas
        </button>
        <button mat-button class="w3-block menu__button w3-border-top w3-border-light-grey" routerLink="delivery">
          <mat-icon class="menu__icon">assignment</mat-icon>
          Delivery
        </button>
        <button mat-button class="w3-block menu__button w3-border-top w3-border-light-grey" routerLink="asesores">
          <mat-icon class="menu__icon">group</mat-icon>
          Asesores
        </button>
        <button mat-button class="w3-block menu__button w3-border-top w3-border-light-grey" routerLink="general">
          <mat-icon class="menu__icon">corporate_fare</mat-icon>
          Cupones
        </button>
        <button mat-button class="w3-block menu__button w3-border-top w3-border-light-grey" routerLink="payments">
          <mat-icon class="menu__icon">corporate_fare</mat-icon>
          Métodos de pago
        </button>
      </mat-sidenav>
    
      <mat-sidenav-content class="w3-padding">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    
    </mat-sidenav-container>
  </div>
</div>