.forgotPass {
  color:#A2A2A2;
  cursor:pointer
}
.mainContainer{
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  padding: 40px;
}
