<div style="display:flex; flex-direction: column; align-items: center">
  <div style="width:100%; max-width: 500px;">
    <div style="padding: 40px">
      <p>Hola, requerimos los siguientes datos</p>

      <mat-radio-group [formControl]="providerForm">
        <mat-radio-button 
          *ngFor="let option of providerType" 
          [value]="option">{{option | titlecase}}</mat-radio-button>
      </mat-radio-group>

      <form [formGroup]="emailForm">
          <mat-form-field 
            *ngIf="(providerForm.value == providerType[0]) || (providerTypeParam && emailParam)"
            class="w3-small w3-margin-bottom" appearance="outline" style="display:block">
              <mat-label>Usuario</mat-label>
              <input matInput type="text" formControlName="email" placeholder="Correo electrónico" autocomplete="off">
              <mat-error>
                    <span *ngIf="emailForm.get('email')?.errors?.required">Usuario requerido</span>
                    <span *ngIf="emailForm.get('email')?.errors?.email">Email no válido</span>
                    <span *ngIf="emailForm.get('email')?.errors?.repeatedUser">
                        Este usuario ya se encuentra registrado.</span>
                    <span *ngIf="emailForm.get('email')?.errors?.wrongProvider as prov">
                        Por favor, seleccione {{prov |titlecase}}.</span>
              </mat-error>
              <mat-hint *ngIf="(registerLogin$ | async)">
                  Email registrado
              </mat-hint>
          </mat-form-field>

          <ng-container *ngIf="providerType$ | async" else #signProvider>

            <mat-form-field class="w3-small w3-margin-bottom" appearance="outline" style="display:block">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hidePass ? 'password' : 'text'" formControlName="pass" placeholder="***"
                    autocomplete="off">
                <button mat-icon-button matSuffix (click)="hidePass = !hidePass"
                    [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hidePass">
                    <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error style="display: flex; flex-direction: row; justify-content: space-between;">
                    <span *ngIf="emailForm.get('pass')?.errors?.required">Contraseña requerida</span>
                    <span *ngIf="emailForm.get('pass').hasError('minlength')">Mínimo 6 caracteres</span>
                    <span *ngIf="emailForm.get('pass')?.errors?.noRepeatedPass">La contraseña no es la misma</span>

                </mat-error>
            </mat-form-field>

            <mat-form-field class="w3-small w3-margin-bottom" appearance="outline" style="display:block">
              <mat-label>Repetir contraseña</mat-label>
              <input matInput [type]="hideRepeatedPass ? 'password' : 'text'" formControlName="repeatedPass" placeholder="***"
                  autocomplete="off">
              <button mat-icon-button matSuffix (click)="hideRepeatedPass = !hideRepeatedPass"
                  [attr.aria-label]="'Ocultar contraseña'" [attr.aria-pressed]="hideRepeatedPass">
                  <mat-icon>{{hideRepeatedPass ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error style="display: flex; flex-direction: row; justify-content: space-between;">
                  <span *ngIf="emailForm.get('pass')?.errors?.required">Contraseña requerida</span>
                  <span *ngIf="emailForm.get('pass').hasError('minlength')">Mínimo 6 caracteres</span>
                  <span *ngIf="emailForm.get('pass')?.errors?.noRepeatedPass">La contraseña no es la misma</span>

              </mat-error>
            </mat-form-field>
          </ng-container>
          
          <ng-container *ngIf="!(providerTypeParam && emailParam) && 
            (providerForm.value == providerType[1] || providerForm.value == providerType[2])">
            <button 
                style="max-width:260px"
                [color]="providerForm.value == 'google' ? 'warn' : 'primary'"
                mat-raised-button 
                class="w3-block w3-margin-bottom w3-margin-top"
                (click)="signInProvider(providerForm.value)">
                Ingresar con <strong>{{providerForm.value | titlecase}}</strong>
            </button>
          </ng-container>

      </form>

      <p><mat-icon>account_box</mat-icon>Información Personal</p>

      <form [formGroup]="personalInfoForm">

        <mat-radio-group formControlName="type">
          <mat-radio-button 
            *ngFor="let option of personalInfoType" 
            [value]="option">P. {{option | titlecase}}</mat-radio-button>
          </mat-radio-group>

        <mat-form-field class="w3-small w3-margin-bottom" appearance="outline" style="display:block">
            <mat-label>Nombres</mat-label>
            <input matInput type="text" formControlName="name" placeholder="Nombres" autocomplete="off">
            <mat-error>
                  <span *ngIf="emailForm.get('name')?.errors?.required">Campo requerido</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="w3-small w3-margin-bottom" appearance="outline" style="display:block">
          <mat-label>Apellidos</mat-label>
          <input matInput type="text" formControlName="lastName" placeholder="Apellidos" autocomplete="off">
          <mat-error>
                <span *ngIf="emailForm.get('lastName')?.errors?.required">Campo requerido</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w3-small w3-margin-bottom" appearance="outline" style="display:block">
          <mat-label>DNI</mat-label>
          <input matInput type="number" formControlName="dni" placeholder="DNI" autocomplete="off">
          <mat-error>
                <span *ngIf="emailForm.get('dni')?.errors?.required">Campo requerido</span>
                <span *ngIf="emailForm.get('dni')?.errors?.maxLength ||
                  emailForm.get('dni')?.errors?.maxLength ">Se requieren 8 dígitos.</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w3-small w3-margin-bottom" appearance="outline" style="display:block">
          <mat-label>Teléfono</mat-label>
          <input matInput type="tel" formControlName="phone" placeholder="Teléfono" autocomplete="off">
          <mat-error>
                <span *ngIf="emailForm.get('phone')?.errors?.required">Campo requerido</span>
          </mat-error>
        </mat-form-field>

        <ng-container *ngIf="personalInfoType$|async">
          <mat-form-field class="w3-small w3-margin-bottom" appearance="outline" style="display:block">
            <mat-label>Empresa</mat-label>
            <input matInput type="text" formControlName="business" placeholder="Empresa" autocomplete="off">
            <mat-error>
                  <span *ngIf="emailForm.get('business')?.errors?.required">Campo requerido</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w3-small w3-margin-bottom" appearance="outline" style="display:block">
            <mat-label>RUC</mat-label>
            <input matInput type="number" formControlName="ruc" placeholder="RUC" autocomplete="off">
            <mat-error>
                  <span *ngIf="emailForm.get('ruc')?.errors?.required">Campo requerido</span>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w3-small w3-margin-bottom" appearance="outline" style="display:block">
            <mat-label>Dirección</mat-label>
            <input matInput type="text" formControlName="address" placeholder="Dirección" autocomplete="off">
            <mat-error>
                  <span *ngIf="emailForm.get('address')?.errors?.required">Campo requerido</span>
            </mat-error>
          </mat-form-field>
        </ng-container>

      </form>

      <p><mat-icon>email</mat-icon>Mantenme Actualizado</p>


      <mat-checkbox [formControl]="feedForm">
        Quiero recibir noticias, promociones y novedades de nuevos productos.
      </mat-checkbox>
      <mat-checkbox [formControl]="conditionForm">
        Acepto términos y condiciones
      </mat-checkbox>
      
      <div style="display:flex;flex-direction: column; align-items:center">
      
        <button 
            style="max-width:260px"
            color="primary"
            mat-raised-button 
            class="w3-block w3-margin-bottom w3-margin-top"
            [disabled]="!providerForm.valid
                      || !emailForm.valid
                      || !personalInfoForm.valid
                      || !feedForm.valid
                      || !conditionForm.valid"
            (click)="registerUser()">
            Registrarse
        </button>

      </div>


    </div>
  </div>
</div>