<mat-card class="product">
  <mat-card-content>
    <div class="w3-row w3-padding">
      <ng-container *ngIf="changeColor$ | async"></ng-container>
      <div class="w3-col l8 big">
        <div class="gallery">
          <div class="gallery__side">
            <div class="gallery__div border--primary w3-block" *ngFor="let img of galleryImg"
              [ngClass]="img.ind == selectImage.ind ? 'gallery__div--select' : 'none'">
              <img [defaultImage]="defaultImage" [lazyLoad]="img.photoURL" [offset]="100"
                (click)="changeSelectImage(img)" class="gallery__div--image" alt="" />
            </div>
          </div>
          <figure #image class="zoom" (mousemove)="zoom($event)"
            [style.background-image]="'url(' + selectImage.photoURL + ')'">
            <div style="background-color: white">
              <img [defaultImage]="defaultImage" [lazyLoad]="selectImage.photoURL" [offset]="100"
                class="gallery__image" />
            </div>
          </figure>
        </div>
      </div>
      <div class="w3-col l4">
        <div class="ms-flex ms-flex--center">
          <span *ngIf="selectedProduct.purchaseNumber > 1;else new">{{selectedProduct.purchaseNumber}} vendidos</span>
          <ng-template #new> <span>Nuevo</span> </ng-template>
          <span class="ms-fill"></span>
          <div *ngIf="favorite$|async as fav">
            <button *ngIf="fav==-1;else include" [disabled]="loadingFav$ | async" (click)="addFavorites()"
              mat-icon-button color="primary">
              <mat-icon>favorite_border</mat-icon>
            </button>
            <ng-template #include>
              <button mat-icon-button color="primary" [disabled]="loadingFav$ | async" (click)="removeFavorites()">
                <mat-icon>favorite</mat-icon>
              </button>
            </ng-template>
          </div>

        </div>
        <h2 class="product__title">{{ selectedProduct.description }}</h2>
        <div class="small">
          <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of galleryImg" class="slide">
              <img [defaultImage]="defaultImage" [lazyLoad]="slide.photoURL" [offset]="100" class="gallery__image"
                alt="gallery-img" />
            </div>
          </ngx-slick-carousel>
        </div>

        <div *ngIf="promo && selectedProduct.promoData.quantity == 1">
          <div class=" big product__promo ms-flex">
            <div style="width: fit-content">
              Antes <strike>{{price | currency: 'S/. ':'symbol':'2.2-2'}}</strike>
            </div>
            <div class="product__promo--discount">
              {{ getDiscount(selectedProduct.promoData) }} % Dscto
            </div>
          </div>
          <div class="product__price w3-section big">
            <span>Ahora</span>
            <span class="product__price--number">
              {{selectedProduct.promoData.promoPrice | currency: 'S/. ':'symbol':'2.2-2'}}
            </span>
          </div>
        </div>
        <div *ngIf="!promo || product.promoData.quantity > 1">
          <div class="product__price w3-section big">
            <span class="product__price--number">
              {{price | currency: 'S/. ':'symbol':'2.2-2'}}
            </span>
          </div>
        </div>
        <mat-form-field class="product__select">
          <mat-label>Colores</mat-label>
          <mat-select [formControl]="selected" [(value)]="productSelected" disableRipple>
            <mat-select-trigger>
              <mat-icon [style.color]="productSelected.color.color">brightness_1</mat-icon>
              {{productSelected.color.name}}
            </mat-select-trigger>
            <mat-option *ngFor="let prod of product.products" [value]="prod">
              <mat-icon [style.color]="prod.color.color">brightness_1</mat-icon> {{prod.color.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="small">
          <div *ngIf="promo && selectedProduct.promoData.quantity == 1">
            <div class="product__promo ms-flex">
              <div style="width: fit-content">
                Antes <strike>{{price | currency: 'S/. ':'symbol':'2.2-2'}}</strike>
              </div>
              <div class="product__promo--discount">
                {{ getDiscount(selectedProduct.promoData) }} % Dscto
              </div>
            </div>
            <div class="product__price w3-section">
              <span>Ahora</span>
              <span class="product__price--number">
                {{selectedProduct.promoData.promoPrice | currency: 'S/. ':'symbol':'2.2-2'}}
              </span>
            </div>
          </div>
          <div *ngIf="!promo || selectedProduct.promoData.quantity > 1">
            <div class="product__price w3-section">
              <span class="product__price--number">
                {{price | currency: 'S/. ':'symbol':'2.2-2'}}
              </span>
            </div>
          </div>

        </div>
        <div *ngIf="promo && selectedProduct.promoData.quantity > 1" class="w3-center product__promoDiv">
          OFERTA: {{selectedProduct.promoData.quantity}} x {{selectedProduct.promoData.promoPrice | currency: 'S/. ':'symbol':'2.2-2'}}
        </div>
        <div class="product__stock" *ngIf="productSelected.virtualStock==1;else stock">
          Último stock disponible
        </div>
        <ng-template #stock>
          <div class="product__stock">
            {{ productSelected.virtualStock }} Unidades disponibles
          </div>
        </ng-template>

        <div class="w3-section">
          <div>Paga con:</div>
          <div class="ms-flex w3-section" style="justify-content: space-around">
            <img src="../../../../assets/images/visa.png" class="mini-img" alt="" />
            <img src="../../../../assets/images/mastercad.png" class="mini-img" alt="" />
            <img src="../../../../assets/images/visa_electron.png" class="mini-img" alt="" />
            <img src="../../../../assets/images/american.png" class="mini-img" alt="" />
          </div>
        </div>

        <p *ngIf="selectedProduct.guarantee">Garantia: <strong>{{selectedProduct.timeguarantee}} meses</strong></p>
        <div class="w3-center">
          <div *ngIf="auth.user$ | async; else loginbutton">
            <!-- ngIf si existe y si no solo aparece agregar nuevo -->
            <ng-container *ngIf="reqProdObservable$ | async as reqProd; else emptyProd">
              <app-quantity-div-improved 
                [product]="selectedProduct" [price]="price" [chosen]="productSelected"
                [color]="selectedProduct.products.length > 1" size="md">
              </app-quantity-div-improved>
            </ng-container>
            <ng-template #emptyProd>
              <ng-container *ngIf="!(pendingPayment$ | async)">
                <button *ngIf="verifyStock$ | async" mat-flat-button color="primary" 
                  (click)="addProd()" class="product__add" 
                  [style.visibility]="true ? 'visible' : 'hidden'">
                  <mat-icon>shopping_cart</mat-icon>
                  <span> Agregar al Carrito</span>
                </button>
              </ng-container>
            </ng-template>
          </div>
          <ng-template #loginbutton>
            <button mat-flat-button color="primary" class="product__add" (click)="login()"
              [style.visibility]="selectedProduct['realStock'] > 0 ? 'visible' : 'hidden'">
              <mat-icon>shopping_cart</mat-icon>
              <span> Agregar al Carrito</span>
            </button>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="w3-section w3-padding">
      <p style="font-size: 1.2em">
        Marca: <strong>{{ selectedProduct.brand.name?selectedProduct.brand.name :selectedProduct.brand }}</strong>
      </p>
      <div class="w3-section">
        <h4 class="product__subtitle">Descripción</h4>
        <div [innerHTML]="selectedProduct.additionalDescription"></div>
      </div>

      <div class="w3-section">
        <h4 class="product__subtitle">Calificaciones</h4>
        <div style="color: #f2c94c">
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star</mat-icon>
          <mat-icon>star_half</mat-icon>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>