<mat-card class="w3-block delivery">
  <h4 class="delivery__title w3-center">
    Por favor registra tus datos y verifícalos
  </h4>
  <mat-radio-group color="primary" [(ngModel)]="delivery">
    <mat-radio-button [value]="1"> Entrega en domicilio </mat-radio-button>
    <mat-radio-button class="w3-margin-left" [value]="2">
      Recojo en tienda
    </mat-radio-button>
  </mat-radio-group>
  <form [formGroup]="formGroup" class="w3-margin-top">
    <mat-form-field class="w3-block" appearance="outline">
      <mat-label>Departamento</mat-label>
      <input
        type="text"
        placeholder="Departamento"
        matInput
        formControlName="departamento"
        [matAutocomplete]="autoD"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #autoD="matAutocomplete"
        [displayWith]="showDepartamento"
      >
        <mat-option
          *ngFor="let option of filteredDepartamento$ | async"
          [value]="option"
          (onSelectionChange)="selectProvincias(option)"
        >
          {{ option.departamento | titlecase }}
        </mat-option>
      </mat-autocomplete>
      <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
    </mat-form-field>
    <mat-form-field class="w3-block" appearance="outline">
      <mat-label>Provincia</mat-label>
      <input
        type="text"
        placeholder="Provincia"
        matInput
        formControlName="provincia"
        [matAutocomplete]="autoP"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #autoP="matAutocomplete"
        [displayWith]="showProvincia"
      >
        <mat-option
          *ngFor="let option of filteredProvincia$ | async"
          [value]="option"
          (onSelectionChange)="selectDistritos(option)"
        >
          {{ option.provincia | titlecase }}
        </mat-option>
      </mat-autocomplete>
      <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
    </mat-form-field>
    <mat-form-field class="w3-block" appearance="outline">
      <mat-label>Distrito</mat-label>
      <input
        type="text"
        placeholder="Distrito"
        matInput
        formControlName="distrito"
        [matAutocomplete]="autoX"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #autoX="matAutocomplete"
        [displayWith]="showDistrito"
      >
        <mat-option
          *ngFor="let option of filteredDistrito$ | async"
          [value]="option"
        >
          {{ option.distrito | titlecase }}
        </mat-option>
      </mat-autocomplete>
      <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
    </mat-form-field>
    <div *ngIf="delivery == 1">
      <mat-form-field class="w3-block" appearance="outline">
        <mat-label>Dirección</mat-label>
        <input
          autocomplete="off"
          formControlName="direccion"
          matInput
          placeholder="Teléfono"
        />
      </mat-form-field>

      <mat-form-field class="w3-block" appearance="outline">
        <mat-label>Referencia</mat-label>
        <input
          autocomplete="off"
          formControlName="referencia"
          type="tel"
          matInput
          placeholder="Teléfono"
        />
      </mat-form-field>
      <div class="w3-margin-bottom w3-margin-top">
        <div
          style="display: flex; flex-wrap: wrap; justify-content: space-between"
        >
          <div style="width: 80%">
            Especifica tu dirección en el mapa (Opcional)
          </div>
          <button mat-icon-button color="primary" (click)="findMe()">
            <mat-icon>gps_fixed</mat-icon>
          </button>
        </div>
        <br />
        <google-map height="280px" width="100%" [center]="center" [zoom]="zoom">
          <map-marker [position]="center"></map-marker>
        </google-map>
      </div>
    </div>
    <div *ngIf="delivery == 2">
      <div *ngIf="formGroup.get('distrito').value">
        <mat-selection-list #shoes [multiple]="false">
          <div mat-subheader>Tiendas</div>
          <mat-list-option [value]="1">
            <mat-icon mat-list-icon>location_on</mat-icon>
            <div mat-line>
              P.T. cayma Mz G Lt 4b of.401, 4to piso ( referencia a una cuadra
              de la plaza cayma)
            </div>
          </mat-list-option>
          <mat-list-option [value]="2">
            <mat-icon mat-list-icon>location_on</mat-icon>
            <div mat-line>
              P.T. cayma Mz G Lt 4b of.401, 4to piso ( referencia a una cuadra
              de la plaza cayma)
            </div>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>
  </form>
</mat-card>
