.addImage {
  border: 1px dashed var(--primary-color);
  color: var(--primary-color);
  display: flex;
  min-height: 145px;
  max-height: 160px;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  border-radius: 5px;
}

.big-button {
  min-width: 200px;
}

.serie {
  height: 150px;
  overflow-y: scroll;
  border: 1px solid;
  padding: 10px;
}

.cover {
  position: absolute;
  bottom: 0;
  background-color: #82ff9e;
  color: white;
}
