<div></div>
<div *ngIf="init$ | async as info; else loader">
  <div class="main-toolbar">
    <div class="main-toolbar__row">
      <div class="ms-flex ms-flex--center w3-padding">
        <a class="main-toolbar__logo w3-margin-right" routerLink="/main">
          <img
            src="../../assets/images/logo-white.png"
            class="main-toolbar__logoimage"
            alt="logo"
          />
        </a>
        <div class="search-form background-color w3-margin-left mat-elevation-z2">
          <input
            matInput
            type="text"
            [formControl]="searchForm"
            placeholder="Buscar productos, marcas y más..."
            autocomplete="off"
            [matAutocomplete]="autoProduct"
            class="search-form__input"
            (keyup.enter)="navigate()"
            style="border: none"
          />
          <mat-autocomplete
            #autoProduct="matAutocomplete"
            [displayWith]="showSelectedUser"
            [panelWidth]="450"
          >
            <mat-option
              *ngFor="let option of filteredProducts$ | async"
              [value]="option"
              (click)="navigateProduct(option)"
              (onSelectionChange)="navigateProduct(option)"
            >
              <span>{{ option["description"] | titlecase }}</span>
            </mat-option>
          </mat-autocomplete>
          <button
            mat-icon-button
            color="primary"
            [style.visibility]="(search$ | async) ? 'visible' : 'hidden'"
            (click)="clearInput()"
          >
            <mat-icon style="font-size: 18px">close</mat-icon>
          </button>
          <button mat-button (click)="navigate()" class="search-form__button">
            <mat-icon>search</mat-icon>
          </button>
        </div>
        <span class="ms-fill"></span>
        <div class="ms-flex">
          <a [href]="info.social.whatsapp" target="_blank" mat-icon-button class="social__button">
            <img src="../../assets/images/whatsapp.png" alt="" />
          </a>
          <a [href]="info.social.facebook" target="_blank" mat-icon-button class="social__button">
            <img src="../../assets/images/facebook.png" alt="" />
          </a>
  
          <a [href]="info.social.instagram" target="_blank" mat-icon-button class="social__button">
            <img src="../../assets/images/logotipo-de-instagram.png" alt="" />
          </a>
        </div>
      </div>
  
      <div class="ms-flex ms-flex--center w3-padding">
        <div>
          <button mat-button (click)="toggleMenu()" class="menu-button">
            <mat-icon>menu</mat-icon>
            CATEGORÍAS</button
          >|
          <button mat-button routerLink="/main" class="menu-button">INICIO</button
          >|
          <button mat-button routerLink="/main/contactanos" class="menu-button">
            CONTACTÁNOS
          </button>
        </div>
        <span class="ms-fill"></span>
        <ng-template #login>
          <button mat-button routerLink="/main/login/signIn" class="menu-button">
            <mat-icon class="dark-icon">input</mat-icon> Inicia sesión
          </button>
        </ng-template>
        <div *ngIf="user$ | async as user; else login">
          <button
            mat-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <mat-icon style="vertical-align: middle; margin-right: 8px"
              >person</mat-icon
            >
            {{ getName(user) }}
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logOut()">
              <mat-icon class="dark-icon">input</mat-icon> Cierra sesión
            </button>
            <button mat-menu-item disabled>
              <mat-icon>receipt</mat-icon>
              <span>Mis pedidos</span>
            </button>
            <button mat-menu-item>
              <mat-icon>favorite</mat-icon>
              <span>Mis favoritos</span>
            </button>
          </mat-menu>
          <button mat-button routerLink="/main/carrito" matTooltip="Carrito">
            <mat-icon
              [matBadge]="dbs.order.length"
              [matBadgeHidden]="dbs.order.length == 0"
              matBadgeColor="warn"
              >shopping_cart</mat-icon
            >
          </button>
          <button mat-button matTooltip="Notificaciones">
            <mat-icon matBadge="5" matBadgeColor="warn"
              >notifications_none</mat-icon
            >
          </button>
        </div>
      </div>
  
      <div
        class="categories animated"
        [ngClass]="{ fadeInUp: openedMenu, fadeOut: !openedMenu }"
        [style.display]="firstOpening ? 'block' : 'none'"
      >
        <div style="display: flex">
          <nav class="categories__nav">
            <ul class="categories__list">
              <li class="categories__item" (mouseenter)="closeSection()">
                <div class="categories__item--name">Promociones</div>
              </li>
              <li class="categories__item" (mouseenter)="closeSection()">
                <div class="categories__item--name">Destacados</div>
              </li>
              <li
                class="categories__item"
                *ngFor="let cat of listCategories"
                (mouseenter)="openSection(cat)"
              >
                <div class="categories__item--name">
                  <div>{{ cat.category }}</div>
                  <span class="ms-fill"></span>
                  <mat-icon>keyboard_arrow_right</mat-icon>
                </div>
              </li>
            </ul>
          </nav>
          <div class="categories__section" #megaMenu>
            <div *ngIf="selectCategory">
              <h2 class="categories__title">
                {{ selectCategory.category | titlecase }}
              </h2>
              <div class="nav-categs-detail__body w3-padding">
                <div class="nav-categs-detail__body-content">
                  <article
                    class="nav-categs-detail__categ"
                    *ngFor="let sub of selectCategory.subcategories"
                  >
                    <h4 class="categories__subtitle">
                      {{ sub.name | titlecase }}
                    </h4>
                    <div class="footer-list">
                      <ul>
                        <li *ngFor="let s of sub.categories">
                          <a>{{ s | titlecase }}</a>
                        </li>
                      </ul>
                    </div>
                  </article>
                </div>
                <!--div class="nav-categs-detail__body-aside" *ngIf="selectCategory.brands">
                  <h4 class="categories__subtitle">Marcas Oficiales</h4>
                  <div class="w3-row-padding">
                    <div class="w3-col m6 l6" *ngFor="let brand of cat.brands">
                      <img
                        [src]="brand.photoURL"
                        class="w3-block w3-margin-bottom mat-elevation-z2"
                        alt=""
                      />
                      
                    </div>
                  </div>
                </div-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div style="min-height: 85vh">
    <div
      class="nav-categs-overlay"
      (click)="toggleMenu()"
      (mouseenter)="toggleMenu()"
      [style.display]="openedMenu ? 'block' : 'none'"
    ></div>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
  <footer class="footer">
    <div class="footer__section">
      <div class="w3-row-padding ms-row">
        <div class="w3-col col-lg-4 col-sm-6 col-xxl-3 w3-center">
          <img
            src="../../assets/images/logo-black.png"
            class="footer__logo w3-margin-top"
            alt=""
          />
        </div>
        <div class="w3-col col-lg-4 col-sm-6 col-xxl-3">
          <h4 class="footer__title">Búsqueda rápida</h4>
          <div class="footer-list">
            <ul>
              <li *ngFor="let foo of info.footer.search"><a>{{foo}}</a></li>
            </ul>
          </div>
        </div>
        <div class="w3-col col-lg-4 col-sm-6 col-xxl-3">
          <h4 class="footer__title">información</h4>
          <div class="footer-list">
            <ul>
              <li *ngFor="let fa of info.footer.links"><a>{{fa.name}}</a></li>
            </ul>
          </div>
        </div>
        <div class="w3-col col-lg-4 col-sm-6 col-xxl-3">
          <h4 class="footer__title">suscripción</h4>
          <div>
            Te notificaremos de promociones, descuentos y beneficios para clientes
            como tú.
          </div>
          <div class="email-form background-color w3-margin-top w3-margin-bottom">
            <input
              matInput
              type="text"
              placeholder="Déjanos tu email"
              autocomplete="off"
              class="email-form__input"
              style="border: none"
            />
  
            <button mat-button class="email-form__button">Suscríbete</button>
          </div>
          <div class="w3-margin-top">
            <a mat-icon-button [href]="info.social.facebook" target="_blank" class="footer__buton-social">
              <img src="../../assets/images/facebook.png" alt="" />
            </a>
            <a mat-icon-button [href]="info.social.twitter" target="_blank" class="footer__buton-social">
              <img src="../../assets/images/twitter.png" alt="" />
            </a>
            <a mat-icon-button [href]="info.social.instagram" target="_blank" class="footer__buton-social">
              <img src="../../assets/images/logotipo-de-instagram.png" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="w3-center w3-padding">
      © 2020 AITEC Perú Todos los derechos reservados | Diseñado por
      <img src="../../assets/images/negativo.png" class="footer__meraki" alt="" />
    </div>
  </footer>
  
</div>
<ng-template #loader>
  <div style="height: 100vh;display: flex;align-items: center;justify-content: center;">
    <mat-progress-spinner
        class="example-margin"
        color="primary"
        mode="indeterminate">
    </mat-progress-spinner>
  </div>
</ng-template>