.main-toolbar {
  background-image: linear-gradient(90deg, #1c31ea 0%, #270059 100%);
  color: white;
  padding: 0 16px;
  &__logo {
    margin-right: 10px;
  }
  &__logoimage {
    width: 200px;
  }
}

.search-form {
  display: flex;
  min-width: 100px;
  width: 45%;
  font-size: 1em;
  padding-left: 15px;

  &__input {
    width: 100%;
  }

  &__button {
    max-width: 45px;
    width: 100%;
    padding: 0 !important;
    color: #cbcbcb;
  }
}
.search-form__input:focus {
  outline: none;
}

.social__button {
  border: 1px solid white;
  margin: 0 0.5em;
}
.social__button img {
  width: 22px;
}

.footer {
  background-color: #f1f1f1;
  
  &__section{
    padding: 3% 5%;
  }
  &__logo {
    width: 200px;
  }
  &__title {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 5px;
    font-size: 1.2em;
    font-weight: 500;

    &::before {
      content: "";
      height: 2px;
      width: 80px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: black;
    }
  }
  &__buton-social{
    background: black;
    margin: 0 0.5em;
  }
  &__meraki{
    width: 95px;
  }
}

.footer__buton-social img{
  width: 18px;
}

.email-form {
  display: flex;
  max-width: 290px;
  margin: auto;
  font-size: 1em;
  padding-left: 15px;

  &__input {
    margin: 5px 0;
    width: 100%;
  }

  &__button {
    border-radius: 0;
    min-width: 85px !important;
    padding: 0 10px !important;
    background-color: black;
    color: white;
  }

}
.footer-list ul {
  list-style: none;
  padding-inline-start: 0;
}

.footer-list a {
  text-decoration: none;
}

@media (max-width: 601px) {
  .main__logoimage {
    max-height: 36px;
  }

  .main__space {
    padding-top: 56px;
  }
}
