<div *ngIf="sales$ | async as sales else noSales">
  <!-- Actions form -->
  <div *ngIf="observable$ | async as observ">
    <div *ngFor="observ; let i=index">

      <mat-form-field hintLabel="Correlativo, nombre, apellido, correo o DNI" class="search" appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Buscar" [formControl]="formArray.controls[i]" autocomplete="off">
        <mat-hint align="end"><strong>{{(salesFiltered$ | async)?.length}}</strong> resultados</mat-hint>
      </mat-form-field>

    </div>
  </div>

  <div class="actionsContainer"
    style="margin-right: 16px;">
      <mat-form-field class="w3-margin-top w3-margin-bottom w3-block" style="max-width: 240px;" appearance="outline">
        <mat-label>FECHA/PERIODO</mat-label>
        <mat-date-range-input [formGroup]="dateForm" [rangePicker]="picker">
          <input readonly matStartDate formControlName="begin" placeholder="Fecha Inicio">
          <input readonly matEndDate formControlName="end" placeholder="Fecha Final">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

      <mat-form-field class="content w3-small" style="max-width: 240px;" appearance="outline">
          <mat-icon matPrefix></mat-icon>
          <mat-label>Estado</mat-label>
          <mat-select [formControl]="statusForm">
              <mat-option value="Todos">Todos</mat-option>
              <mat-option *ngFor="let stat of status" [value]="stat">
                  {{stat}}
              </mat-option>
          </mat-select>
      </mat-form-field>
      <div *ngIf="salesFiltered$ | async as salesFiltered">
          <button 
            (click)="downloadXls(salesFiltered)" mat-raised-button [disabled]="!salesFiltered.length"
            class="w3-margin-bottom"
            color="accent" type="button" >
              Descargar Excel
          </button>
      </div>
      <mat-form-field hintLabel="Correlativo, nombre, apellido, correo o DNI" class="search" appearance="outline">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput placeholder="Buscar" [formControl]="search" autocomplete="off">
          <mat-hint align="end"><strong>{{(salesFiltered$ | async)?.length}}</strong> resultados</mat-hint>
      </mat-form-field>
  </div>
  <!-- <div class="actionsContainer formFieldRounded"
    style="margin-right: 16px;">
      
  </div> -->


  <ng-container *ngIf="salesFiltered$ | async as salesFiltered">
      <ng-container *ngIf="salesFiltered.length else noSales">

        <div *ngFor="let sale of salesFiltered | paginate: { itemsPerPage: 10, currentPage: p }"
            class="list-parent-container "
            [class.shadow-color]="(detailSubject | async)?.id == sale.id">

          <div matRipple class="list-container background-color" (click)="onSelectDetail(sale, salesFiltered)">
                <div class="general">
                    <div style="font-size: 24px;">
                        <b>#{{sale.correlativeType}}{{getCorrelative(sale.correlative)}}</b>
                    </div>
                    <div matTooltip="Atendido por:"
                      class="overflow_container" style="width:100%">
                        <mat-icon style="font-size:20px;"
                            color="primary">assignment_ind</mat-icon>
                        <span *ngIf="sale.attendedData else noAttended">
                              {{sale.attendedData.attendedBy.personData.name+" "+sale.attendedData.attendedBy.personData?.lastName}}
                        </span>
                        <ng-template #noAttended>
                            <span>Sin Atender</span>
                        </ng-template>
                    </div>
                    <div matTooltip="Asesor:"
                      class="overflow_container" style="width:100%">
                        <mat-icon style="font-size:20px;"
                            color="primary">assignment_ind</mat-icon>
                        <span *ngIf="sale.adviser else noAdviser">
                          {{sale.adviser.displayName}}
                        </span>
                        <ng-template #noAdviser>
                            <span>Sin Asesor</span>
                        </ng-template>
                    </div>
                    <div matTooltip="Fecha Solicitada">
                        <mat-icon style="font-size:20px;"
                            color="primary">assignment_turned_in</mat-icon>
                        {{sale.createdAt['seconds']*1000 | date:'dd/MM/yyyy'}} <small>{{sale.createdAt['seconds']*1000 | date:'h:mm a'}}</small>
                    </div>

                </div>
                <div class="divider"></div>
                <div class="client">
                    <div class="overflow_container">
                        <mat-icon>group</mat-icon>
                        <b> 
                            {{sale.documentInfo.name}}
                        </b>
                    </div>
                    <div class="overflow_container">
                        <mat-icon>chrome_reader_mode</mat-icon>
                        <b>
                            {{sale.documentInfo.number}}
                        </b>
                    </div>
                    <div class="overflow_container">
                        <mat-icon>mail</mat-icon>
                        <b *ngIf="sale.user?.email else noMail">
                            {{sale.user?.email}}
                        </b>
                        <ng-template #noMail>
                            <b>Sin correo</b>
                        </ng-template>
                    </div>
                    <div class="actions-container">
                        <button 
                          [disabled]="!sale?.location"
                          class="actions" color="accent" 
                          (click)="onCheckDirection(sale, $event)"
                          mat-raised-button type=button>
                            <mat-icon>place</mat-icon>
                        </button>
                        <a 
                          *ngIf="sale.user?.personData?.phone else noPhone"
                          class="actions" [href]="'tel:'+ sale.user?.personData?.phone"
                            (click)="$event.stopPropagation()">
                            <button style="width:100%" color="accent" 
                                mat-raised-button type=button>
                                <mat-icon>local_phone</mat-icon>
                            </button>
                        </a>
                        <ng-template #noPhone>
                          <button disabled class="actions"
                            color="accent" 
                            mat-raised-button type=button>
                            <mat-icon>local_phone</mat-icon>
                          </button>
                        </ng-template>

                    </div>
                </div>
                <div class="divider"></div>
                <div class="status">
                    <div class="overflow_container">
                        <b *ngIf="sale.confirmedDocumentData  else noDocument">
                            {{sale.document |titlecase}}{{" "+ sale.confirmedDocumentData.documentNumber}}
                        </b>
                        <ng-template #noDocument>
                            <b>Agregar Comprobante</b>
                        </ng-template>
                    </div>
                    <button color="accent" 
                        style="overflow: auto;"
                        mat-flat-button type=button>
                        <b>{{sale.status}}</b>
                    </button>
                    <button color="primary" style="overflow: auto;" mat-flat-button type=button>
                      <!-- <b>{{((sale.requestedProducts | salePrice: sale.user) 
                          + (sale.deliveryPrice ? sale.deliveryPrice : 0)
                          + (sale.couponDiscount ? sale.couponDiscount : 0 )
                          + (sale.additionalPrice ? sale.additionalPrice : 0)
                          )
                          | currency:'S/.'}}</b> -->
                    </button>
                </div>
          </div>
        </div>

          <div style="display:flex; flex-direction: row; justify-content: center;">
              <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel="" maxSize="6">
              </pagination-controls>
          </div>
      </ng-container>

  </ng-container>

</div>

<ng-template #noSales>
  <div class="w3-container w3-center  w3-round-large mat-elevation-z8 w3-margin-top w3-margin-bottom">
      <h2 style="font-family: Raleway; color: dimgray">
          No hay resultados
      </h2>
  </div>
</ng-template>