<div class="w3-section ms-container">
  <div>
    <!-- Actions -->
    <mat-card>
      <mat-card-content>
        <div class="w3-block ms-flex ms-flex--center" style="justify-content: space-between; align-items: baseline;">
          <mat-form-field class="w3-block" appearance="outline">
            <mat-label>Almacen</mat-label>
            <mat-select [formControl]="warehouseForm">
              <mat-option value="Almacén 1">Almacén 1</mat-option>
              <mat-option value="Almacén 2">Almacén 2</mat-option>
              <mat-option value="Almacén 3">Almacén 3</mat-option>
              <mat-option value="Todos">Todos</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field color="primary" class="content w3-small w3-margin-right" appearance="outline">
            <mat-label>Buscar</mat-label>
            <mat-icon matPrefix class="w3-margin-right">search</mat-icon>
            <input (keyup)="applyFilter($event)" matInput type="text" placeholder="Escriba..." autocomplete="off" />
          </mat-form-field>

          <span class="ms-fill"></span>

          <button mat-flat-button *ngIf="view === 'products'" (click)="changeView('entry')" color="primary"
            class="w3-margin-right">
            Ingresar productos
          </button>
          <button mat-flat-button *ngIf="view === 'entry'" (click)="changeView('products')" color="primary"
            class="w3-margin-right">
            Ver productos
          </button>

          <button mat-flat-button (click)="downloadXls()" color="primary">
            Descargar Excel
          </button>

        </div>
      </mat-card-content>
    </mat-card>
    <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
    <!-- Products Table -->
    <ng-container *ngIf="view === 'products'">
      <div *ngIf="productsObservable$ | async; else default">
        <!-- Desktop -->

        <mat-card *ngIf="productsTableDataSource.data.length; else default" class="w3-margin-top">
          <div style="overflow: auto">
            <table mat-table [dataSource]="productsTableDataSource" matSort style="text-align: center !important">
              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef class="ms-table__th w3-center w3-padding">
                  N°
                </th>
                <td style="padding: 0px 25px" mat-cell *matCellDef="let raw; let i = index">
                  {{ 1 +i +productsPaginator.pageIndex * productsPaginator.pageSize}}
                </td>
              </ng-container>

              <ng-container matColumnDef="photoURL">
                <th mat-header-cell *matHeaderCellDef class="ms-table__th w3-center w3-padding">
                  Imagen referencial
                </th>
                <td mat-cell *matCellDef="let raw" class="w3-center ms-flex ms-flex--center" style="padding: 10px">
                  <a href="{{ raw.product.gallery[raw.product.indCover].photoURL }}" target="_blank"
                    *ngIf="raw.product?.gallery[raw.product.indCover].photoURL; else defaultPicture">
                    <img [defaultImage]="defaultImage" [lazyLoad]="raw.product.gallery[raw.product.indCover].photoURL"
                      [offset]="100" style="object-fit: contain; width: 90px; height: 90px" />
                  </a>
                  <ng-template #defaultPicture>
                    <div style="height: 120px; padding: 6px 6px">
                      <img src="../../../assets/images/no-image.png" style="max-width: 100%; height: 100%" />
                    </div>
                  </ng-template>
                </td>
              </ng-container>

              <ng-container matColumnDef="description" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;"
                  class="ms-table__th w3-center w3-padding">
                  Descripción
                </th>
                <td style="padding: 0px 10px" mat-cell *matCellDef="let raw">
                  <div style="min-width: 200px; text-align: left; font-weight: 500">
                    {{ raw.product?.description | titlecase }}
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="sku">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="ms-table__th w3-center w3-padding">
                  SKU
                </th>
                <td style="padding: 0px 10px" mat-cell *matCellDef="let raw">
                  {{ raw.product?.sku }}
                </td>
              </ng-container>
              <ng-container matColumnDef="warehouse">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="ms-table__th w3-center w3-padding">
                  Almacén
                </th>
                <td style="padding: 0px 10px;min-width: 85px;" mat-cell *matCellDef="let raw">
                  {{ raw.warehouse | titlecase }}
                </td>
              </ng-container>
              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="ms-table__th w3-center w3-padding"
                  matTooltip="Ordenar tabla por tipo de documento" matTooltipPosition="above" mat-sort-header>
                  Categoria
                </th>
                <td style="padding: 0px 10px" mat-cell *matCellDef="let raw">
                  {{ raw.product?.category | titlecase }}
                </td>
              </ng-container>


              <ng-container matColumnDef="virtualStock">
                <th mat-header-cell *matHeaderCellDef class="ms-table__th w3-center w3-padding">
                  Stock Virtual
                </th>
                <td style="padding: 0px 10px" mat-cell *matCellDef="let raw">
                  {{ raw.virtualStock }}
                </td>
              </ng-container>

              <ng-container matColumnDef="realStock">
                <th mat-header-cell *matHeaderCellDef class="ms-table__th w3-center w3-padding">
                  Stock Real
                </th>
                <td style="padding: 0px 10px" mat-cell *matCellDef="let raw">
                  {{ raw.realStock }}
                </td>
              </ng-container>
              <ng-container matColumnDef="list">
                <th mat-header-cell *matHeaderCellDef class="ms-table__th w3-center w3-padding">
                  Nros de serie
                </th>
                <td style="padding: 0px 10px" mat-cell *matCellDef="let raw">
                  <button mat-flat-button color="primary" (click)="openDialog(raw)">Lista</button>
                </td>
              </ng-container>

              <ng-container matColumnDef="actions" stickyEnd>
                <th mat-header-cell *matHeaderCellDef
                  class="ms-table__th w3-center w3-padding w3-border-left w3-border-lightgrey">
                  Acciones
                </th>
                <td style="padding: 0px 24px" mat-cell *matCellDef="let raw" class="w3-border-left w3-border-lightgrey">
                  <ng-container>
                    <mat-menu #rawMenu="matMenu">
                      <button class="w3-small" mat-menu-item (click)="referralGuide()">
                        Generar GR
                      </button>
                      <button class="w3-small" mat-menu-item>
                        Kardex
                      </button>
                    </mat-menu>

                    <button mat-icon-button [matMenuTriggerFor]="rawMenu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                  </ng-container>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="productsDisplayedColumns" style="text-align-last: center"></tr>
              <tr mat-row *matRowDef="let row; columns: productsDisplayedColumns"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Sin resultado de busqueda</td>
              </tr>
            </table>

          </div>
          <div *ngIf="productsTableDataSource.filteredData.length == 0">
            <p class="my-2 text-muted w3-center">Sin resultado de busqueda</p>
            <mat-divider></mat-divider>
          </div>
          <mat-paginator #productsPaginator style="border-radius: 0px 0px 10px 10px" [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons></mat-paginator>
        </mat-card>
      </div>
    </ng-container>

    <!-- Entry Methods -->
    <ng-container *ngIf="view === 'entry'">
      <div>
        <mat-card class="w3-margin-top">
          <mat-card-content>
            <div class="entry entry_container">
              <div style="width:30%">
                <!-- <div *ngIf="warehouses$ | async as warehouses; else loadingInput"> -->
                <mat-form-field color="primary" class="content w3-small w3-margin-right w3-block" appearance="outline">
                  <mat-label>Almacén</mat-label>
                  <mat-icon matPrefix class="w3-margin-right">corporate_fare</mat-icon>
                  <mat-select [formControl]="entryWarehouseControl">
                    <mat-option *ngFor="let item of warehouses$ | async" [value]="item">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                  <mat-hint>Seleccione un almacén</mat-hint>
                  <mat-error>* Campo requerido</mat-error>
                </mat-form-field>
                <!-- </div> -->


                <mat-form-field color="primary" class="content w3-small w3-margin-right w3-block" appearance="outline">
                  <mat-label>Producto</mat-label>
                  <mat-icon matPrefix class="w3-margin-right">local_offer</mat-icon>
                  <input [formControl]="entryProductControl" matInput type="text" [matAutocomplete]="autoProducts"
                    placeholder="Escriba..." autocomplete="off">
                  <mat-autocomplete #autoProducts="matAutocomplete" [displayWith]="showEntryProduct"
                    (optionSelected)="selectedEntryProduct($event)">
                    <mat-option *ngFor="let product of entryProducts$ | async" style="font-size: 12px;"
                      [value]="product">{{product.description}}</mat-option>
                  </mat-autocomplete>
                  <mat-hint>Escriba y seleccione un producto</mat-hint>
                  <mat-error>* Campo requerido</mat-error>
                </mat-form-field>

                <!-- <mat-form-field color="primary" class="content w3-small w3-margin-right w3-block" appearance="outline">
                  <mat-label>SKU</mat-label>
                  <mat-icon matPrefix class="w3-margin-right">label</mat-icon>
                  <input [formControl]="entrySKUControl" matInput type="text" [matAutocomplete]="autoSKU"
                    placeholder="Escriba..." autocomplete="off">
                  <mat-autocomplete #autoSKU="matAutocomplete" [displayWith]="showEntrySKU"
                    (optionSelected)="selectedEntrySKU($event)">
                    <mat-option *ngFor="let product of (selectedProduct$ | async)?.products" style="font-size: 12px;"
                      [value]="product">{{product.sku}} | {{product.color.name}}</mat-option>
                  </mat-autocomplete>
                  <mat-hint>Escriba y seleccione un SKU</mat-hint>
                  <mat-error>* Campo requerido</mat-error>
                </mat-form-field> -->

                <mat-form-field color="primary" class="content w3-small w3-margin-right w3-block" appearance="outline">
                  <mat-label>Código</mat-label>
                  <mat-icon matPrefix class="w3-margin-right" style="transform: rotateZ(90deg);">line_weight
                  </mat-icon>
                  <input [formControl]="entryScanControl" matInput type="text" placeholder="Escriba..."
                    autocomplete="off" (keyup.enter)="dispatchAddSerie()">
                  <mat-hint>Presione ENTER para agregar</mat-hint>
                  <mat-progress-bar *ngIf="validatingScan$ | async" mode="indeterminate"></mat-progress-bar>
                  <mat-error>
                    <span>
                      {{entryScanControl.value}} ya existe en este almacén.</span>
                      {{scanValidation$ | async}}
                  </mat-error>
                </mat-form-field>

                <ng-template #loadingInput>
                  <div class="loadingInput">
                    Cargando contenido ...
                  </div>
                </ng-template>
              </div>



              <div *ngIf="selectedProduct$ | async as product; else infoDefault" class="info info--default ms-fill">
                <mat-icon class="w3-text-green">check_circle</mat-icon>
                <ul>
                  <li class="w3-small"><strong>Descripción:</strong> {{product.description}}</li>
                  <li class="w3-small" *ngIf="entryStock"><strong>Stock actual:</strong>
                  </li>
                  <li class="w3-small" *ngIf="entryStock"><strong>Ingresos:</strong> {{entryStock}}</li>
                </ul>
              </div>

              <div *ngIf="serialList.length else scanDefault" class="info info--default ms-fill">
                <div *ngFor="let num of seriesList; let i=index" class="ms-flex ms-flex--center">
                  <div>{{num}}</div>
                  <div class="ms-fill"></div>
                  <mat-icon class="font--primary" style="cursor:pointer" (click)="removeSerie(i)">remove_circle
                  </mat-icon>
                </div>
              </div>

              <ng-template #infoDefault>
                <div class="info info--default">
                  <mat-icon>warning</mat-icon>
                  <p>Debe seleccionar un almacén, producto y SKU para mostrar su información.</p>
                </div>
              </ng-template>

              <ng-template #scanDefault>
                <div class="info info--default ms-fill">
                  <mat-icon>line_weight</mat-icon>
                  <p>Aquí se mostrará la lista de productos escaneados.</p>
                </div>
              </ng-template>

            </div>
            <div class="entry entry_actions">
              <span class="ms-fill"></span>
              <button mat-raised-button color="primary" (click)="save()">Guardar ingreso</button>
            </div>

          </mat-card-content>
        </mat-card>
      </div>
    </ng-container>

  </div>

  <ng-template #default>
    <div class=" w3-container w3-center w3-margin-top w3-margin-bottom">
      <!-- <img [src]="noResultImage" alt="no data" style="width: 100%; max-width: 300px;"> -->
      <p>Sin Resultados</p>
    </div>
  </ng-template>
</div>