.nav-categs-detail {
  &__body {
    max-height: 550px;
    overflow-y: auto;
    &-content {
      column-count: 3;
      column-gap: 36px;
      column-width: 192px;
      overflow: hidden;
      float: left;
    }
  }
  &__categ {
    width: 192px;
    display: inline-block;
    text-overflow: ellipsis;
    margin-bottom: 24px;
  }
}

.button-icon {
  font-size: 18px;
  height: 18px;
  width: 18px;
  margin: 0 5px;
  cursor: pointer;
  color: var(--primary-color);
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
}

