<!--mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar-->
<div style="position: relative;">
  <div class="ms-container" style="position: relative;padding-top: 16px;" *ngIf="product$ | async as product">
  
    <div style="padding:16px 0">
      <a class="bradcumb" routerLink="/main">Inicio</a> >
      <a class="bradcumb" routerLink="/main/productos">Productos</a>
      >
      <span class="bradcumb" (click)="navigateOnlyCategory(product.category)">
        {{product.category}}
      </span>
      <span *ngIf="product.subcategory">
        >
        <span class="bradcumb" (click)="navigateCategory(product.category, product.subcategory)">
          {{ product.subcategory}}
        </span>
      </span>
      <span *ngIf="product.subsubcategory">
        >
        <span class="bradcumb"
          (click)="navigateSubCategory(product.category, product.subcategory,product.subsubcategory)">
          {{product.subcategory }}
        </span>
      </span>
    </div>
    <app-web-view [product]="product" [price]="price" [promo]="promo"></app-web-view>
  
    <app-product-category [category]="product.category"></app-product-category>
    <div class="w3-section">
      <h4 class="product__subtitle">Consultas sobre el producto</h4>
  
      <app-questions  [idProduct]="product.id" [nameProduct]="product.description"></app-questions>
    </div>
  </div>
  <div class="layoout" *ngIf="loading$ | async">
    <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </div>
</div>
