<!--mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar-->
<div style="position: relative;">
  <div class="ms-container" style="position: relative;padding-top: 16px;" *ngIf="product$ | async as product">
  
    <div style="padding:16px 0" *ngIf="category$ | async as category">
      <a class="bradcumb" routerLink="/main">Inicio</a> >
      <a class="bradcumb" routerLink="/main/productos">Productos</a>
      >
      <span class="bradcumb" (click)="navigateOnlyCategory(category.category)">
        {{category.category}}
      </span>
      <span *ngIf="category.subcategory">
        >
        <span class="bradcumb" (click)="navigateCategory(product.category, category.subcategory)">
          {{ category.subcategory}}
        </span>
      </span>
      <span *ngIf="category.subsubcategory">
        >
        <span class="bradcumb"
          (click)="navigateSubCategory(category.category, category.subcategory,category.subsubcategory)">
          {{category.subsubcategory }}
        </span>
      </span>
    </div>
    <app-web-view [product]="product" [price]="price" [promo]="promo"></app-web-view>

    <div class="w3-section">
      <h4 class="product__subtitle">Consultas sobre el producto</h4>
  
      <app-questions  [idProduct]="product.id" [nameProduct]="product.description"></app-questions>
    </div>
  
    <app-product-category [category]="product.idCategory"></app-product-category>
    
  </div>
  <div class="layoout" *ngIf="loading$ | async">
    <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </div>
</div>
