<mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
<div>
  <div class="w3-section">
    <h4 style="font-size: 1.2em;font-weight: 600;">Ofertas</h4>
    <p>Haga click en la imagen para editarlo</p>

    <div *ngIf="banner$ | async as images">

      <div class="img-oferta">
        <img [src]="banner.photoURL" *ngFor="let banner of images ; let i = index"
          (click)="editDialog('carousel', true, banner)" class="w3-block-{{i}}" alt="" />
      </div>

    </div>
  </div>
  <hr />
  <div class="w3-section">

    <h4 style="font-size: 1.2em;font-weight: 600;">Medio</h4>

    <mat-progress-bar mode="indeterminate" *ngIf="loadingMid$ | async"></mat-progress-bar>
    <div class="w3-section w3-row-padding" *ngIf="footer$|async">
      <form [formGroup]="createForm" class="w3-row">
        <div class="w3-col m6 l6 w3-padding">
          <mat-form-field class="w3-block" appearance="outline">
            <mat-label>Título</mat-label>
            <input autocomplete="off" formControlName="title" type="text" matInput placeholder="Título" />
            <mat-error>Campo requerido</mat-error>
          </mat-form-field>
          <div>
            <textarea formControlName="descrip" [ngxSummernote]="config" rows="20" required></textarea>
          </div>


        </div>
        <div class="w3-col m6 l6 w3-padding">
          <!-- Photo  -->
          <div style="margin: 16px 0;text-align: center; ">
            <img class="w3-card-4 w3-block" (click)="photoURL.click()" *ngIf="createForm.get('photoURL').value!=null"
              [src]="createForm.get('photoURL').value" alt="fotografía">
            <img class="w3-card-4 w3-block" (click)="photoURL.click()" *ngIf="createForm.get('photoURL').value==null"
              [src]="noImage" alt="sin fotografía">

            <mat-progress-bar *ngIf="photos?.resizing$.photoURL | async" style="width:100%" mode="indeterminate">
            </mat-progress-bar>
            <span *ngIf="photos.resizing$.photoURL | async" class="w3-small" style="width:100%">*comprimiendo</span>
            <input style="display: none" #photoURL type="file" accept='image/*'
              (change)="addNewPhoto('photoURL', photoURL.files)" />
          </div>
        </div>




      </form>
    </div>
    <div class="ms-flex">
      <span class="ms-fill"></span>
      <button mat-raised-button color="primary" (click)="create()" type="button"
        [disabled]="createForm.status != 'VALID'">Guardar</button>
    </div>
  </div>
  <hr>
  <div class="w3-section">
    <h4 style="font-size: 1.2em;font-weight: 600;">Testimonios</h4>
    <button mat-raised-button class="w3-margin-bottom" color="primary" (click)="openTestimony(false, null)">
      <span>Crear</span>
      <mat-icon style="vertical-align: middle; margin-left: 5px">add</mat-icon>
    </button>
    <div *ngIf="testimonies$ | async">
      <div *ngIf="dataSource.data.length">
        <table mat-table [dataSource]="dataSource" matSort style="width:100%">
          <ng-container class="w3-center" matColumnDef="index">
            <th *matHeaderCellDef class="w3-center">Nº</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{
              1 + i + productsPaginator.pageIndex * productsPaginator.pageSize
              }}
            </td>
          </ng-container>
          <ng-container class="w3-center" matColumnDef="image">
            <th *matHeaderCellDef class="w3-center">Imagen Referencial</th>
            <td mat-cell *matCellDef="let element" class="w3-center" style="padding: 10px">
              <img [defaultImage]="defaultImage" [lazyLoad]="element['photoURL']" [offset]="100" class="border--primary"
                style="
                  object-fit: contain;
                  width: 75px;
                  height: 75px;
                  border: 1px solid;
                " alt="" />
            </td>
          </ng-container>
          <ng-container class="w3-center" matColumnDef="name">
            <th *matHeaderCellDef class="w3-center">Nombre</th>
            <td mat-cell *matCellDef="let element" class="w3-center" style="padding: 0px 10px">
              {{ element["name"] | titlecase }}
            </td>
          </ng-container>

          <ng-container class="w3-center" matColumnDef="message">
            <th *matHeaderCellDef class="w3-center">Opinión</th>
            <td mat-cell *matCellDef="let element" style="padding: 0px 10px">
              {{ element["message"] }}
            </td>
          </ng-container>

          <ng-container class="w3-center" matColumnDef="rating">
            <th *matHeaderCellDef class="w3-center">Calificación</th>
            <td mat-cell *matCellDef="let element" class="w3-center" style="padding: 0px 10px">
              <div style="color: #f2c94c;">
                <span *ngFor="let star of getStars(element.rating)">
                  <mat-icon *ngIf="star;else nofill">star</mat-icon>
                  <ng-template #nofill>
                    <mat-icon>star_outline</mat-icon>
                  </ng-template>

                </span>
              </div>
            </td>
          </ng-container>
          <ng-container class="w3-center" matColumnDef="actions" sticky>
            <th *matHeaderCellDef style="padding-left: 0.5em" class="w3-center">
              Acciones
            </th>
            <td mat-cell *matCellDef="let element; let ind = index" class="w3-center">
              <ng-container>
                <mat-menu #rawMenu="matMenu">
                  <button class="w3-small" mat-menu-item (click)="openTestimony(true, element)">
                    <mat-icon>edit</mat-icon> Editar
                  </button>
                  <button class="w3-small" mat-menu-item (click)="deleteDialog(element)">
                    <mat-icon>delete</mat-icon> Borrar
                  </button>
                </mat-menu>

                <button mat-icon-button [matMenuTriggerFor]="rawMenu">
                  <mat-icon>more_vert</mat-icon>
                </button>
              </ng-container>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator #productsPaginator style="border-radius: 0px 0px 10px 10px" [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons></mat-paginator>
      </div>
    </div>

  </div>
  <hr />
  <div class="w3-section">

    <div class="ms-flex">
      <h4 style="font-size: 1.2em;font-weight: 600;width: fit-content">Footer</h4>
      <span class="ms-fill"></span>
      <button mat-flat-button color="primary" (click)="saveFooter()" class="w3-margin-top">Guardar</button>
    </div>
    <mat-progress-bar mode="indeterminate" *ngIf="loadingFooter$ | async"></mat-progress-bar>
    <div class="w3-section w3-row-padding" *ngIf="footer$|async">
      <div class="w3-col m6 l6">
        <h2 style="font-size: 1em; font-weight: 600">Búsqueda rápida</h2>
        <hr />
        <mat-form-field *ngIf="category$ | async as categories" style="margin-bottom: 8px; display: block"
          appearance="outline">
          <mat-label>Categorías</mat-label>
          <input autocomplete="off" [formControl]="category" [matAutocomplete]="categoryAutocomplete" type="text"
            (keyup.enter)="addCategory()" matInput />
          <mat-autocomplete autoActiveFirstOption #categoryAutocomplete="matAutocomplete" [displayWith]="showSelected">
            <mat-option *ngFor="let category of categories" [value]="category" (click)="addCategory()"
              (keyup.enter)="addCategory()">
              {{ category }}
            </mat-option>
          </mat-autocomplete>
          <mat-hint> Presione ENTER para agregar </mat-hint>
        </mat-form-field>
        <div class="w3-section">
          <ng-container *ngFor="let item of selectCategories">
            <div class="w3-border-bottom w3-border-lightgray w3-padding" style="display: flex; align-items: center">
              <span>{{ item }}</span>
              <button mat-icon-button (click)="removeCategory(item)" type="button">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-container>
        </div>
        <div *ngIf="!selectCategories.length" class="w3-center">
          <p style="font-size: 14px">Agregue un link a la lista</p>
        </div>
      </div>
      <div class="w3-col m6 l6">
        <h2 style="font-size: 1em; font-weight: 600">Información</h2>
        <hr />
        <form [formGroup]="linkForm" class="w3-row">
          <mat-form-field class="w3-block" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input autocomplete="off" formControlName="name" type="text" matInput />
            <mat-error>Campo requerido</mat-error>
          </mat-form-field>
          <mat-form-field class="w3-block" appearance="outline">
            <mat-label>link</mat-label>
            <input autocomplete="off" formControlName="link" type="text" matInput />
          </mat-form-field>
          <div class="ms-flex">
            <span class="ms-fill"></span>
            <button mat-flat-button color="primary" (click)="addLink()" [disabled]="!linkForm.valid"
              class="w3-margin-top">Agregar</button>
          </div>
        </form>
        <div class="w3-section">
          <ng-container *ngFor="let item of selectLink">
            <div class="w3-border-bottom w3-border-lightgray w3-padding" style="display: flex; align-items: center">
              <span>{{ item['name'] }}</span>
              <button mat-icon-button (click)="removeLink(item)" type="button">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </ng-container>
        </div>
        <div *ngIf="!selectLink.length" class="w3-center">
          <p style="font-size: 14px">Agregue a la lista</p>
        </div>
      </div>
    </div>

  </div>
</div>