<div class="w3-row">
  <div class="w3-col l8 col-md-7">
    <mat-card class="w3-block delivery">
      <div class="w3-margin-bottom">
        <h4 class="delivery__title">
          Elige el método de pago
        </h4>
        <mat-form-field class="w3-block" appearance="outline">
          <mat-label>Opciones de pago</mat-label>
          <mat-select [(ngModel)]="method">
            <mat-option *ngFor="let pay of payments" [value]="pay">
              {{pay.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="method.value==3 || method.value==4">
          <div class="w3-margin-bottom">
            <strong>{{method.account}}</strong>
          </div>
          <div class="w3-margin-bottom">
            <div class="w3-margin-bottom" style="position: relative" *ngFor="let image of photosList; let ind = index">
              <img class="voucher" style="object-fit: cover" [src]="image.img" alt="fotografía" />
              <div class="ms-flex w3-block" style="position: absolute; top: 0">
                <span class="ms-fill"></span>
                <button type="button" *ngIf="!image.show" mat-icon-button (click)="image.show = true">
                  <mat-icon>zoom_in</mat-icon>
                </button>
                <button type="button" *ngIf="image.show" mat-icon-button (click)="image.show = false">
                  <mat-icon>zoom_out</mat-icon>
                </button>
                <button type="button" mat-icon-button (click)="eliminatedphoto(ind)">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <div style="text-align: center; border: 1px solid silver" *ngIf="image.show">
                <div class="ms-flex w3-block">
                  <span class="ms-fill"></span>
                  <button mat-icon-button (click)="image.show = false">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
                <img style="width: 80%" [src]="image.img" alt="fotografía grande" />
              </div>
            </div>

            <div class="voucher" (click)="photoURL.click()">
              Agregar foto de voucher de pago
            </div>
            <mat-hint>*Campo requerido</mat-hint>

            <mat-progress-bar *ngIf="photos?.resizing$.photoURL | async" style="width: 100%" mode="indeterminate">
            </mat-progress-bar>
            <span *ngIf="photos.resizing$.photoURL | async" class="w3-small ms-color-11 ms-font-montserrat"
              style="width: 100%">*comprimiendo</span>
            <input style="display: none" #photoURL type="file" accept="image/*"
              (change)="addNewPhoto('photoURL', photoURL.files)" />
          </div>
        </div>
        <div *ngIf="method.value==2">
          <form [formGroup]="cardForm" class="w3-margin-top">
            <div>Elige el tipo de tarjeta:</div>
            <div class="w3-center w3-section">
              <button mat-button (click)="chooseType('visa')"
                [style.background-color]="cardForm.get('type').value =='visa'?'#E0E0E0':''">
                <img src="../../../../assets/images/visa.png" class="mini-img" alt="">
              </button>
              <button mat-button (click)="chooseType('mastercard')"
                [style.background-color]="cardForm.get('type').value =='mastercard'?'#E0E0E0':''">
                <img src="../../../../assets/images/mastercad.png" class="mini-img" alt="">
              </button>
              <button mat-button (click)="chooseType('visa_electron')"
                [style.background-color]="cardForm.get('type').value =='visa_electron'?'#E0E0E0':''">
                <img src="../../../../assets/images/visa_electron.png" class="mini-img" alt="">
              </button>
              <button mat-button (click)="chooseType('america express')"
                [style.background-color]="cardForm.get('type').value =='america express'?'#E0E0E0':''">
                <img src="../../../../assets/images/american.png" class="mini-img" alt="">
              </button>
            </div>
            <mat-form-field class="w3-block" appearance="outline">
              <mat-label>Nro de tarjeta</mat-label>
              <input autocomplete="off" formControlName="numero" type="tel" matInput placeholder="Nro de tarjeta*" />
              <mat-error>Campo requerido</mat-error>
            </mat-form-field>

            <div class="ms-flex" style="justify-content:space-between">
              <div style="width:40%">Fecha de Caducidad:</div>
              <mat-form-field style="width:25%" appearance="outline">
                <mat-label>Mes</mat-label>
                <mat-select formControlName="month">
                  <mat-option *ngFor="let pay of months" [value]="pay">
                    {{pay}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field style="width:30%" appearance="outline">
                <mat-label>Año</mat-label>
                <mat-select formControlName="year">
                  <mat-option *ngFor="let pay of years" [value]="pay">
                    {{pay}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <mat-form-field class="w3-block" appearance="outline">
              <mat-label>CVV</mat-label>
              <input autocomplete="off" formControlName="numero" type="number" matInput placeholder="CVV" />
              <mat-error>Campo requerido</mat-error>
            </mat-form-field>
            <mat-form-field class="w3-block" appearance="outline">
              <mat-label>Titular de la tarjeta</mat-label>
              <input autocomplete="off" formControlName="titular" type="tel" matInput
                placeholder="Titular de la tarjeta" />
              <mat-error>Campo requerido</mat-error>
            </mat-form-field>
          </form>
        </div>
      </div>
      <div class="w3-margin-top">
        <h4 class="delivery__title">
          Elija el tipo de comprobante y verifique sus datos
        </h4>
        <mat-radio-group color="primary" [(ngModel)]="document">
          <mat-radio-button [value]="1"> Boleta </mat-radio-button>
          <mat-radio-button class="w3-margin-left" [value]="2">
            Factura
          </mat-radio-button>
        </mat-radio-group>
        <form [formGroup]="documentForm" class="w3-margin-top">
          <mat-form-field class="w3-block" appearance="outline">
            <mat-label>{{document==1?'DNI':'RUC'}}</mat-label>
            <input autocomplete="off" formControlName="document" type="text" matInput placeholder="DNI/RUC" />
            <mat-error>Campo requerido</mat-error>
          </mat-form-field>
          <mat-form-field class="w3-block" appearance="outline">
            <mat-label>{{document==1?'Nombre':'Razon Social'}}</mat-label>
            <input autocomplete="off" formControlName="name" type="text" matInput />
            <mat-error>Campo requerido</mat-error>
          </mat-form-field>
          <mat-form-field class="w3-block" *ngIf="document==2" appearance="outline">
            <mat-label>Direccion Fiscal</mat-label>
            <input autocomplete="off" formControlName="address" type="text" matInput />
          </mat-form-field>


        </form>
      </div>
    </mat-card>
  </div>
  <div class="w3-col l4 col-md-5">
    <div class="resume">
      <h2 class="resume__title">Resumen de pedido</h2>
      <div class="resume__divider"></div>
      <div class="resume__descrip w3-section">
        <div class="ms-flex ms-flex--center">
          <span>Subtotal</span>
          <span class="ms-fill"></span>
          <span>25.00</span>
        </div>
        <div class="ms-flex ms-flex--center">
          <span>Cargos adicionales</span>
          <span class="ms-fill"></span>
          <span>0.00</span>
        </div>
        <div class="ms-flex ms-flex--center">
          <span>Descuento promocional</span>
          <span class="ms-fill"></span>
          <span>20.00</span>
        </div>
        <div class="ms-flex ms-flex--center">
          <span>IGV</span>
          <span class="ms-fill"></span>
          <span>18.00</span>
        </div>
        <div class="ms-flex ms-flex--center">
          <span>Delivery</span>
          <span class="ms-fill"></span>
          <span>24.00</span>
        </div>
      </div>
      <div class="resume__divider"></div>
      <div style="display: flex; margin-top: 20px;justify-content: space-between;">
        <div><strong>Total a pagar:</strong></div>
        <div class="ticket__total">
          S/. 40.00
        </div>
      </div>
      <div class="w3-center">
        <button mat-raised-button color="primary" (click)="sendInfo()" class="resume__button">Finalizar
          Compra</button>
      </div>
      
    </div>
  </div>
</div>