<div style="overflow-y: hidden;">
  <b *ngIf="sale" style="font-size: 28px;">
    #{{sale.correlativeType}}{{getCorrelative(sale.correlative)}}
  </b>
  <div [formGroup]="guideFormGroup" autocomplete="off">

    <div class="arrival">
      <mat-form-field class="w3-block w3-small size-item" appearance="outline">
        <mat-label>Codigo de pedido / operación</mat-label>
        <input matInput type="text" formControlName="orderCode" placeholder="Codigo de pedido" autocomplete="off">
        <mat-error> Requerido * </mat-error>
      </mat-form-field>

      <mat-form-field class="w3-block w3-small size-item" appearance="outline">
        <mat-label>Destinatario</mat-label>
        <input matInput type="text" formControlName="addressee" placeholder="Destinatario" autocomplete="off">
        <mat-error> Requerido * </mat-error>
      </mat-form-field>

      <mat-form-field class="w3-block w3-small size-item" appearance="outline">
        <mat-label>RUC / DNI</mat-label>
        <input matInput type="number" formControlName="dni" placeholder="RUC / DNI" autocomplete="off">
        <mat-error> Requerido * </mat-error>
      </mat-form-field>

      <mat-form-field class="w3-block w3-small size-item" appearance="outline">
        <mat-label>Fecha de Translado</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="transferDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>


      <mat-form-field class="w3-block w3-small size-item" appearance="outline">
        <mat-label>Punto de partida </mat-label>
        <input matInput type="text" formControlName="startingPoint" placeholder="Punto de partida" autocomplete="off">
        <mat-error> Requerido * </mat-error>
      </mat-form-field>

      <mat-form-field class="w3-block w3-small size-item" appearance="outline">
        <mat-label>Punto de llegada</mat-label>
        <input matInput type="text" formControlName="arrivalPoint" placeholder="Punto de llegada" autocomplete="off">
        <mat-error> Requerido * </mat-error>
      </mat-form-field>

    </div>

    <div class="relocated">
      <p>motivo de translado</p>
      <div class="container-relocated">
        <mat-radio-group aria-label="Seleccione una opción" formControlName="transferReason" color="primary">
          <div class="grid-relocated">
            <mat-radio-button *ngFor="let option of radioOptions"
              class="w3-small w3-margin-right item" [value]="option">
              {{option | titlecase}}
            </mat-radio-button>
          </div>
        </mat-radio-group>
      </div>
    </div>
    <br>
    <br>
    <div class="observations">
      <p>Observaciones</p>
      <mat-form-field class="w3-block w3-small " appearance="outline">
        <mat-label>Observaciones</mat-label>
        <input matInput type="text" formControlName="observations" placeholder="Observaciones" autocomplete="off">
        <mat-error> Requerido * </mat-error>
      </mat-form-field>
    </div>

    <div class="transported">
      <p>Datos del bien transportados</p>

      <div class="serial-container">
        <div class="serial-form">

          <mat-form-field color="primary" class="w3-small w3-margin-bottom w3-block" appearance="outline">
            <mat-label>Almacén</mat-label>
            <mat-icon matPrefix class="w3-margin-right">corporate_fare</mat-icon>
            <mat-select [formControl]="entryWarehouseControl">
              <mat-option *ngFor="let item of warehouses$ | async" [value]="item">
                {{item.name}}
              </mat-option>
            </mat-select>
            <mat-hint>Seleccione un almacén</mat-hint>
            <mat-error>* Campo requerido</mat-error>
          </mat-form-field>


          <mat-form-field color="primary" class="w3-small w3-margin-bottom w3-block" appearance="outline">
            <mat-label>Producto</mat-label>
            <mat-icon matPrefix class="w3-margin-right">local_offer</mat-icon>
            <input [formControl]="entryProductControl" matInput type="text" [matAutocomplete]="autoProducts"
              placeholder="Escriba..." autocomplete="off">
            <mat-autocomplete #autoProducts="matAutocomplete" [displayWith]="showEntryProduct"
              (optionSelected)="selectedEntryProduct($event)">
              <mat-option *ngFor="let product of entryProducts$ | async" style="font-size: 12px;" [value]="product">
                {{product.description}}</mat-option>
            </mat-autocomplete>
            <mat-hint *ngIf="(availableSeries$ | async) as series; else noSeries">
              <span>{{series.series.length}} disponibles</span>
            </mat-hint>
            <ng-template #noSeries>
              <mat-hint>Escriba y seleccione un producto</mat-hint>
            </ng-template>
            <mat-error>* Campo requerido</mat-error>
          </mat-form-field>

          <mat-form-field color="primary" class="w3-small w3-margin-bottom w3-block" appearance="outline">
            <mat-label>Código</mat-label>
            <mat-icon matPrefix class="w3-margin-right" style="transform: rotateZ(90deg);">line_weight
            </mat-icon>
            <input [formControl]="entryScanControl" matInput type="text" placeholder="Escriba..." autocomplete="off"
              (keyup.enter)="dispatchAddSerie()">
            <mat-hint>Presione ENTER para agregar</mat-hint>
            <mat-progress-bar *ngIf="validatingScan$ | async" mode="indeterminate"></mat-progress-bar>
            <mat-error>
              <span *ngIf="scanValidation$ | async">
                {{entryScanControl.value}} ya existe en este almacén.</span>
            </mat-error>
          </mat-form-field>
        </div>

        <div *ngIf="serialList.length else scanDefault" class="info info--default">
          <div *ngFor="let item of serialList; let i=index" class="info_barcode">
            <div>{{item.barcode}}</div>
            <div class="ms-fill"></div>
            <mat-icon class="font--primary" style="cursor:pointer" (click)="removeSerie(i)">remove_circle
            </mat-icon>
          </div>
        </div>
      </div>

      <ng-template #scanDefault>
        <div class="info info--default">
          <mat-icon style="transform: rotateZ(90deg);">line_weight</mat-icon>
          <p>Aquí se mostrará la lista de productos escaneados.</p>
        </div>
      </ng-template>

    </div>
    <div *ngIf="serialList.length > 0" class="w3-margin-left">
      <button mat-raised-button color="primary" class="btn" (click)="addProducts()">Agregar</button>
    </div>
  </div>
</div>
<br />
<mat-divider></mat-divider>

<div class="listProduct">
  <p style="font-weight: bold;">Lista de productos</p>

  <table class="table table-striped">
    <thead class="w3-border-bottom w3-margin-bottom">
      <tr class="grid-listProduct">
        <th>N°</th>
        <th>Código de producto</th>
        <th>Producto</th>
        <th>N° de Serie</th>
        <th>Unidades</th>
        <th>Medida</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of arrayProducts; let i=index" class="grid-listProduct">
        <td> {{i + 1}} </td>
        <td>{{item.mainCode}}</td>
        <td> {{item.description}} </td>
        <td><span *ngFor="let serial of item.serialList" class="w3-small">{{serial.barcode}}, </span></td>
        <td> {{ item.quantity }}</td>
        <td>{{item.unit}}</td>

        <td> <i class="material-icons" (click)="deleteProduct(i)" style="cursor: pointer;">remove_circle</i></td>
      </tr>
    </tbody>
  </table>
</div>

<mat-progress-bar mode="indeterminate" *ngIf="loading$ | async" color="accent"></mat-progress-bar>
<ng-container *ngIf="user$|async as user">
  <div *ngIf="arrayProducts.length>0" class="w3-margin-left">
    <button mat-raised-button color="primary" class="btn w3-margin-right" (click)="saveWaybill(user)">Guardar</button>
    <button mat-raised-button color="primary" class="btn" (click)="printWaybill(user)"> Imprimir</button>
  </div>
</ng-container>


<div id="print-section" style="transform: scale(0.01); margin: 10px 10px 10px 30px;">
  <div style="margin: 20px 10px 10px 10px; width: 100%;">
    <div style="height: 200px;">
      <h2 style="position: absolute; top: 150px; right: 150px;">{{this.guideFormGroup.get('orderCode').value}}</h2>
    </div>
    <div style="margin-left: 270px; display: grid; grid-column-gap: 2em; grid-template-columns: 1fr 1fr;">
      <p>{{this.guideFormGroup.get('addressee').value}}</p>
      <p>{{this.guideFormGroup.get('dni').value}}</p>
      <p>{{this.guideFormGroup.get('arrivalPoint').value}}</p>
      <p>{{this.guideFormGroup.get('transferDate').value * 1000 | date: "dd/MM/yyyy"}}</p>
      <p>{{this.guideFormGroup.get('startingPoint').value}}</p>
      <p>{{this.guideFormGroup.get('transferDate').value * 1000 | date: "dd/MM/yyyy"}}</p>
    </div>
  </div>
  <div style="margin: 20px 10px 10px 10px; width: 100%; height: 200px;">
    <div>
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of arrayProducts; let i=index">
            <td style="width:30px"> {{i + 1}} </td>
            <td style="width:80px">{{item.mainCode}}</td>
            <td style="width:200px"> {{item.description}} </td>
            <td style="width:150px"><span *ngFor="let serial of item.serialList" style="font-size: 0.8rem;">{{serial.barcode}}, </span></td>
            <td style="width:50px"> {{ item.quantity | number : '2.'}}</td>
            <td style="width:50px">{{item.unit}}</td>
            <td style="width:50px">---</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div style="margin: 20px 10px 10px 10px; width: 100%;">
    <div style="margin-left: 100px; display: grid; grid-column-gap: 1em; grid-template-columns: 1fr 1fr 1fr;">
      <p> {{this.guideFormGroup.get('transferReason').value=== '1' ? 'X': ' '}} </p>
      <p> {{this.guideFormGroup.get('transferReason').value=== '2' ? 'X' :' '}} </p>
      <p> {{this.guideFormGroup.get('transferReason').value=== '3' ? 'X' :' '}} </p>
      <p> {{this.guideFormGroup.get('transferReason').value=== '4' ? 'X' :' '}} </p>
      <p> {{this.guideFormGroup.get('transferReason').value=== '5' ? 'X' :' '}} </p>
      <p> {{this.guideFormGroup.get('transferReason').value=== '6' ? 'X' :' '}} </p>
      <p> {{this.guideFormGroup.get('transferReason').value=== '7' ? 'X' :' '}} </p>
      <p> {{this.guideFormGroup.get('transferReason').value=== '8' ? 'X' :' '}} </p>
      <p> {{this.guideFormGroup.get('transferReason').value=== '9' ? 'X' :' '}} </p>
      <p> {{this.guideFormGroup.get('transferReason').value==='10' ? 'X' :' '}} </p>
      <p> {{this.guideFormGroup.get('transferReason').value==='11' ? 'X' :' '}} </p>
      <p> {{this.guideFormGroup.get('transferReason').value==='12' ? 'X' :' '}} </p>
      <p> {{this.guideFormGroup.get('transferReason').value==='13' ? 'X' :' '}} </p>
      <p> {{this.guideFormGroup.get('transferReason').value==='14' ? 'X' :' '}} </p>
    </div>
    <div>
      <textarea style="width: 350px; height: 100px; border: transparent ;">
        {{this.guideFormGroup.get('observations').value}}
      </textarea>
    </div>

  </div>
</div>