<div class="ms-flex">
  <h2 mat-dialog-title style="margin: 0px 0px">
    <mat-icon style="vertical-align:middle; margin-right: 8px">list_alt</mat-icon>Guia de remision
  </h2>
  <span class="ms-fill"></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-divider></mat-divider>

<mat-dialog-content>
  <div class="w3-row">
    <div [formGroup]="guideFormGroup">

      <div class="arrival">
        <mat-form-field class="w3-block w3-medium size-item" appearance="outline">
          <mat-label>Codigo de pedido / operación</mat-label>
          <input matInput type="text" formControlName="codigo" placeholder="Codigo de pedido" autocomplete="off">
          <mat-error>  Requerido * </mat-error>
        </mat-form-field>

        <mat-form-field class="w3-block w3-medium size-item" appearance="outline">
          <mat-label>Destinatario</mat-label>
          <input matInput type="text" formControlName="Addressee" placeholder="Destinatario" autocomplete="off">
          <mat-error>  Requerido * </mat-error>
        </mat-form-field>

        <mat-form-field class="w3-block w3-medium size-item" appearance="outline">
          <mat-label>RUC / DNI</mat-label>
          <input matInput type="number" formControlName="dni" placeholder="RUC / DNI" autocomplete="off">
          <mat-error>  Requerido * </mat-error>
        </mat-form-field>

        <mat-form-field class="w3-block w3-medium size-item"  appearance="outline">
          <mat-label>Fecha de Translado</mat-label>
          <input matInput [matDatepicker]="picker" [formControl]="guideFormGroup.get('startDate')">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
        
        <mat-form-field class="w3-block w3-medium size-item" appearance="outline">
          <mat-label>Punto de partida </mat-label>
          <input matInput type="text" formControlName="point" placeholder="Punto de partida" autocomplete="off">
          <mat-error>  Requerido * </mat-error>
        </mat-form-field>
        
        <mat-form-field class="w3-block w3-medium size-item" appearance="outline">
          <mat-label>Punto de llegada</mat-label>
          <input matInput type="text" formControlName="arrivalPoint" placeholder="Punto de llegada" autocomplete="off">
          <mat-error>  Requerido * </mat-error>
        </mat-form-field>

      </div>

      <div class="relocated">
        <p>motivo de translado</p>
        <div class="container-relocated">
          <mat-radio-group aria-label="Seleccione una opción" formControlName="translate" color="primary">
            <div class="grid-relocated">
              <mat-radio-button class="w3-small w3-margin-right item" value="1">Ventas</mat-radio-button>
              <mat-radio-button class="w3-small w3-margin-right item" value="2">Translado de establecimiento de la misma empresa</mat-radio-button>
              <mat-radio-button class="w3-small w3-margin-right item" value="3">Importación</mat-radio-button>
              <mat-radio-button class="w3-small w3-margin-right item" value="4">Venta sujeto a confirmacion del comprador</mat-radio-button>
              <mat-radio-button class="w3-small w3-margin-right item" value="5">Translado de bienes para transformacion</mat-radio-button>
              <mat-radio-button class="w3-small w3-margin-right item" value="6">Exportación</mat-radio-button>
              <mat-radio-button class="w3-small w3-margin-right item" value="7">Compra</mat-radio-button>
              <mat-radio-button class="w3-small w3-margin-right item" value="8">Recojo de bines</mat-radio-button>
              <mat-radio-button class="w3-small w3-margin-right item" value="9">Venta con entrega a terceros</mat-radio-button>
              <mat-radio-button class="w3-small w3-margin-right item" value="10">Consignación</mat-radio-button>
              <mat-radio-button class="w3-small w3-margin-right item" value="11">Translado por emison de itenerante de comprobante de pago</mat-radio-button>
              <mat-radio-button class="w3-small w3-margin-right item" value="12">Otros no incluidos en los puntos anteriores tales como <br>
              exhibición, demostración, etc.</mat-radio-button>
              <mat-radio-button class="w3-small w3-margin-right item" value="13">Devolución</mat-radio-button>
              <mat-radio-button class="w3-small w3-margin-right item" value="14">Translado de zona primaria</mat-radio-button>
            </div>
          </mat-radio-group>          
        </div>
      </div> 
      <br>
      <br>
      <div class="observations">
        <p>Observaciones</p>
        <mat-form-field class="w3-block w3-medium " appearance="outline">
          <mat-label>Observaciones</mat-label>
          <input matInput type="text" formControlName="oservations" placeholder="Observaciones" autocomplete="off">
          <mat-error>  Requerido * </mat-error>
        </mat-form-field>
      </div>

      <div class="transported">
        <p>Datos del bien transportados</p>

        <form>
          <div *ngIf="warehouse$ | async as warehouses" class="select-item-warehouse">      
            <mat-form-field appearance="outline" class="" >
              <mat-label>Selecione almacén </mat-label>
              <mat-select [formControl]="warehouseForm"  name="warehouse" >
                <mat-option *ngFor="let warehouse of warehouses" [value]="warehouse.id">{{warehouse.name}}</mat-option >           
              </mat-select>
            </mat-form-field>   
          </div>
          <p>Selected: {{warehouseForm.value}}</p>

        </form>

        <div class="products">
          <!-- <mat-form-field color="primary" class="content w3-small w3-margin-right w3-block" appearance="outline">
            <mat-label>Producto</mat-label>
            <mat-icon matPrefix class="w3-margin-right">local_offer</mat-icon>
            <input [formControl]="entryProductControl" matInput type="text" [matAutocomplete]="autoProducts"
              placeholder="Escriba..." autocomplete="off">
            <mat-autocomplete #autoProducts="matAutocomplete" [displayWith]="showEntryProduct"
              (optionSelected)="selectedEntryProduct($event)">
              <mat-option *ngFor="let product of entryProducts$ | async" style="font-size: 12px;"
                [value]="product">{{product.product?.description}}</mat-option>
            </mat-autocomplete>
            <mat-hint>Escriba y seleccione un producto</mat-hint>
          </mat-form-field> -->
          <mat-form-field *ngIf="product$ | async as products" style="margin-bottom: 8px; display:block"
          appearance="outline">
          <mat-label>Producto</mat-label>
          <input autocomplete="off" formControlName="product" [matAutocomplete]="productAutocomplete" type="text"
            matInput>
          <mat-autocomplete autoActiveFirstOption #productAutocomplete="matAutocomplete">
            <mat-option *ngFor="let product of products" [value]="product">
              {{product}}
            </mat-option>
          </mat-autocomplete>
          <mat-error>
            <span *ngIf="guideFormGroup.get('product').errors?.required">Por favor, complete el campo.</span>
            <span *ngIf="guideFormGroup.get('product').errors?.invalid">Dato inválido. Complete con alguna opción
              válida.</span>
          </mat-error>
          </mat-form-field>

          <mat-form-field class="w3-block w3-medium size-item" appearance="outline">
            <mat-label>Cantidad</mat-label>
            <input matInput type="number" formControlName="acount" placeholder="cantidad" autocomplete="off">
            <mat-error>  Requerido * </mat-error>
          </mat-form-field>

          <mat-form-field class="w3-block w3-medium size-item" appearance="outline">
            <mat-label>numero de series disponibles</mat-label>
            <input matInput type="number" formControlName="serie" placeholder="numero de series disponibles" autocomplete="off">
            <mat-error>  Requerido * </mat-error>
          </mat-form-field>
        </div>

      </div>

      <mat-dialog-actions align="center" >
        <button mat-raised-button color="primary" class="btn">Agregar</button>
      </mat-dialog-actions>

    </div>
  </div>
  <br/>
  <mat-divider></mat-divider>

  <div class="listProduct">
  <p style="font-weight: bold;">Lista de productos</p>
  <div class="grid-listProduct">
      <p>memoria ram</p>
      <p>Nro de serie1 Nro de serie2 Nro de serie3 </p>
      <p>3 unid</p>
      <p>unidades</p>
      <p>100 gramos</p>
      <div class="icon">
        <i class="material-icons">remove_circle</i>
      </div>
  </div>
  </div>  
  
</mat-dialog-content>

<mat-progress-bar mode="indeterminate" *ngIf="loading$ | async" color="accent"></mat-progress-bar>

<mat-dialog-actions align="center" >
    <button mat-raised-button color="primary" class="btn">Guardar</button>
    <button mat-raised-button color="primary" class="btn" (click)="save()"> Imprimir</button> <!-- [disabled]="!guideFormGroup.valid" --> 
</mat-dialog-actions> 