<div style="overflow-y: hidden;">
  <b *ngIf="sale" style="font-size: 28px;">
    #{{sale.correlativeType}}{{getCorrelative(sale.correlative)}}
  </b>
  <form [formGroup]="guideFormGroup" autocomplete="off">

    <div class="arrival">
      <mat-form-field class="w3-block w3-small size-item" appearance="outline">
        <mat-label>N° de Guía de Remisión</mat-label>
        <input matInput type="text" formControlName="orderCode" placeholder="N° de Guía de Remisión" autocomplete="off">
        <mat-error> Requerido * </mat-error>
      </mat-form-field>

      <mat-form-field class="w3-block w3-small size-item" appearance="outline">
        <mat-label>Destinatario</mat-label>
        <input matInput type="text" formControlName="addressee" placeholder="Destinatario" autocomplete="off">
        <mat-error> Requerido * </mat-error>
      </mat-form-field>

      <mat-form-field class="w3-block w3-small size-item" appearance="outline">
        <mat-label>RUC / DNI</mat-label>
        <input matInput type="number" formControlName="dni" placeholder="RUC / DNI" autocomplete="off">
        <mat-error> Requerido * </mat-error>
      </mat-form-field>

      <mat-form-field class="w3-block w3-small size-item" appearance="outline">
        <mat-label>Fecha de Translado</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="transferDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>


      <mat-form-field class="w3-block w3-small size-item" appearance="outline">
        <mat-label>Punto de partida </mat-label>
        <input matInput type="text" formControlName="startingPoint" placeholder="Punto de partida" autocomplete="off">
        <mat-error> Requerido * </mat-error>
      </mat-form-field>

      <mat-form-field class="w3-block w3-small size-item" appearance="outline">
        <mat-label>Punto de llegada</mat-label>
        <input matInput type="text" formControlName="arrivalPoint" placeholder="Punto de llegada" autocomplete="off">
        <mat-error> Requerido * </mat-error>
      </mat-form-field>

    </div>

    <div class="relocated">
      <p>motivo de translado</p>
      <div class="container-relocated">
        <mat-radio-group aria-label="Seleccione una opción" formControlName="transferReason" color="primary">
          <div class="grid-relocated">
            <mat-radio-button *ngFor="let option of radioOptions"
              class="w3-small w3-margin-right item" [value]="option">
              {{option | titlecase}}
            </mat-radio-button>
          </div>
        </mat-radio-group>
      </div>
    </div>
    <br>
    <br>
    <div class="observations">
      <p>Observaciones</p>
      <mat-form-field class="w3-block w3-small " appearance="outline">
        <mat-label>Observaciones</mat-label>
        <input matInput type="text" formControlName="observations" placeholder="Observaciones" autocomplete="off">
        <mat-error> Requerido * </mat-error>
      </mat-form-field>
    </div>

    <app-select-series
      [sale]="sale"
      [entry]="false"
      [cumSeriesList]="cumSeriesList">
    </app-select-series>

    
  </form>
</div>
<br />
<mat-divider></mat-divider>

<mat-progress-bar mode="indeterminate" *ngIf="loading$ | async" color="accent"></mat-progress-bar>
<ng-container *ngIf="user$|async as user">
  <div *ngIf="cumSeriesList.length>0" class="w3-margin-left w3-margin-top" style="text-align: end;">
    <button [disabled]="(loading$ | async) || !guideFormGroup.valid" mat-raised-button color="primary" class="w3-margin-right" (click)="saveWaybill(user)">Guardar</button>
    <button mat-raised-button color="primary" (click)="printWaybill(user)"> Imprimir</button>
  </div>
</ng-container>


<!-- <div id="print-section" style="transform: scale(0.01); margin: 10px 10px 10px 30px;">
  <div style="margin: 20px 10px 10px 10px; width: 100%;">
    <div style="height: 200px;">
      <h2 style="position: absolute; top: 150px; right: 150px;">{{this.guideFormGroup.get('orderCode').value}}</h2>
    </div>
    <div style="margin-left: 270px; display: grid; grid-column-gap: 2em; grid-template-columns: 1fr 1fr;">
      <p>{{this.guideFormGroup.get('addressee').value}}</p>
      <p>{{this.guideFormGroup.get('dni').value}}</p>
      <p>{{this.guideFormGroup.get('arrivalPoint').value}}</p>
      <p>{{this.guideFormGroup.get('transferDate').value * 1000 | date: "dd/MM/yyyy"}}</p>
      <p>{{this.guideFormGroup.get('startingPoint').value}}</p>
      <p>{{this.guideFormGroup.get('transferDate').value * 1000 | date: "dd/MM/yyyy"}}</p>
    </div>
  </div>
  <div style="margin: 20px 10px 10px 10px; width: 100%; height: 200px;">
    <div>
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of arrayProducts; let i=index">
            <td style="width:30px"> {{i + 1}} </td>
            <td style="width:80px">{{item.mainCode}}</td>
            <td style="width:200px"> {{item.description}} </td>
            <td style="width:150px"><span *ngFor="let serial of item.serialList" style="font-size: 0.8rem;">{{serial.barcode}}, </span></td>
            <td style="width:50px"> {{ item.quantity | number : '2.'}}</td>
            <td style="width:50px">{{item.unit}}</td>
            <td style="width:50px">---</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div style="margin: 20px 10px 10px 10px; width: 100%;">
    <div style="margin-left: 100px; display: grid; grid-column-gap: 1em; grid-template-columns: 1fr 1fr 1fr;">
      <p> {{this.guideFormGroup.get('transferReason').value=== '1' ? 'X': ' '}} </p>
      <p> {{this.guideFormGroup.get('transferReason').value=== '2' ? 'X' :' '}} </p>
      <p> {{this.guideFormGroup.get('transferReason').value=== '3' ? 'X' :' '}} </p>
      <p> {{this.guideFormGroup.get('transferReason').value=== '4' ? 'X' :' '}} </p>
      <p> {{this.guideFormGroup.get('transferReason').value=== '5' ? 'X' :' '}} </p>
      <p> {{this.guideFormGroup.get('transferReason').value=== '6' ? 'X' :' '}} </p>
      <p> {{this.guideFormGroup.get('transferReason').value=== '7' ? 'X' :' '}} </p>
      <p> {{this.guideFormGroup.get('transferReason').value=== '8' ? 'X' :' '}} </p>
      <p> {{this.guideFormGroup.get('transferReason').value=== '9' ? 'X' :' '}} </p>
      <p> {{this.guideFormGroup.get('transferReason').value==='10' ? 'X' :' '}} </p>
      <p> {{this.guideFormGroup.get('transferReason').value==='11' ? 'X' :' '}} </p>
      <p> {{this.guideFormGroup.get('transferReason').value==='12' ? 'X' :' '}} </p>
      <p> {{this.guideFormGroup.get('transferReason').value==='13' ? 'X' :' '}} </p>
      <p> {{this.guideFormGroup.get('transferReason').value==='14' ? 'X' :' '}} </p>
    </div>
    <div>
      <textarea style="width: 350px; height: 100px; border: transparent ;">
        {{this.guideFormGroup.get('observations').value}}
      </textarea>
    </div>

  </div>
</div> -->