<div mat-dialog-title>
  <h2 class="ms-font-rubik ms-color-2b" style="font-size: 1.2em">
    <mat-icon style="vertical-align: middle">add_circle</mat-icon>
    {{ data.edit ? "Editar Categoría" : "Crear Categoría" }}
  </h2>
  <mat-divider></mat-divider>
  <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
</div>
<mat-dialog-content style="width: 1200px; max-width: 80vw">
  <div class="ms-flex" style="min-height: 50vh">
    <div class="w3-col m8 l8">
      <form [formGroup]="packageForm">
        <div>
          <div style="display: flex; flex-direction: row; width: 100%">
            <!-- description  -->
            <mat-form-field style="margin-bottom: 8px; width: 48%" appearance="outline">
              <mat-label>Nombre categoría</mat-label>
              <input #input autocomplete="off" maxlength="40" formControlName="category" type="text" matInput
                placeholder="Nombre de la categoría" />

              <mat-error>
                <span *ngIf="packageForm.get('category').errors?.required">Campo requerido</span>
                <span *ngIf="packageForm.get('category').errors?.descriptionRepeatedValidator">Esta categoría ya se
                  encuentra
                  repetido.</span>
              </mat-error>
            </mat-form-field>
            <!-- totalItems -->

            <mat-form-field style="margin-left: 10px; display: block" appearance="outline">
              <mat-label>Número de subcategorías</mat-label>
              <input type="number" formControlName="totalItems" autocomplete="off" matInput />
            </mat-form-field>
          </div>
          <div class="grid-container">
            <ng-container *ngIf="totalItems$ | async"></ng-container>
            <div class="grid-item" *ngFor="let group of itemsFormArray.controls; let i = index">
              <!-- itemsFormArray -->
              <form [formGroup]="group" style="
                  margin-bottom: 8px;
                  padding: 12px;
                  border-radius: 10px;
                  border: 1px solid lightgrey;
                ">
                <div style="margin-bottom: 8px">
                  <strong>Subcategoría {{ i + 1 }} </strong>
                </div>
                <mat-form-field class="w3-block w3-small" appearance="outline">
                  <mat-label>Nombre</mat-label>
                  <input type="text" matInput formControlName="name" />
                </mat-form-field>
                <div class="ms-flex" style="
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                  ">
                  <mat-form-field style="width: 70%" appearance="outline" class="w3-small">
                    <mat-label>Subcategorías</mat-label>
                    <input type="text" formControlName="sub" autocomplete="off" matInput />
                  </mat-form-field>
                  <button mat-flat-button class="w3-small w3-block w3-margin-bottom" color="primary"
                    style="width: 25%; min-width: 36px; padding: 0" (click)="onSelectProduct(group)">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>

                <div *ngIf="
                    group.get('categories').value.length;
                    else emptyProducts
                  ">
                  <mat-divider></mat-divider>
                  <div *ngFor="let product of group.get('categories').value" class="ms-flex w3-margin-top">
                    <div style="width: 80%">
                      {{ product | titlecase }}
                    </div>
                    <div>
                      <mat-icon class="removeIcon" (click)="onRemoveProduct(product, group)">
                        remove_circle
                      </mat-icon>
                    </div>
                  </div>
                </div>
                <ng-template #emptyProducts>
                  <p class="w3-text-lightgray w3-center">
                    <strong>Agregue subcategorias </strong>
                  </p>
                </ng-template>
                <hr />
              </form>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="w3-col m4 l4 w3-padding">
      <h4>Marcas</h4>
      <mat-form-field *ngIf="brand$ | async as brands" style="margin-bottom: 8px; display: block" appearance="outline">
        <mat-label>Marcas</mat-label>
        <input autocomplete="off" [formControl]="brandForm" [matAutocomplete]="brandAutocomplete" type="text"
          matInput />
        <mat-autocomplete autoActiveFirstOption [displayWith]="showBrand" #brandAutocomplete="matAutocomplete">
          <mat-option *ngFor="let brand of brands" [value]="brand" (click)="addProduct(option)"
            (keyup.enter)="addProduct(option)">
            {{ brand['name'] }}
          </mat-option>

        </mat-autocomplete>
        <mat-hint> Presione ENTER para agregar </mat-hint>
      </mat-form-field>
      <div class="w3-section">
        <ng-container *ngFor="let item of selectBrand">
          <div class="w3-border-bottom w3-border-lightgray w3-padding" style="display: flex; align-items: center">
            <span>{{ item["name"] }}</span>
            <button mat-icon-button (click)="removeProduct(item)" type="button">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-container>
      </div>
      <div *ngIf="!selectBrand.length" class="w3-center">
        <p style="font-size: 14px">Agregue una marca a la lista</p>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button class="w3-margin-right" mat-dialog-close>
    Cancelar
  </button>
  <button mat-raised-button color="accent" (click)="onSubmitForm()" type="button"
    [disabled]="!packageForm.valid || !itemsFormArray.valid">
    Guardar
  </button>
</mat-dialog-actions>