<div *ngIf="auth.user$ | async as user" class="general-container background-color">
    <div style="display: flex; flex-direction: row; justify-content: space-between;">
        <b style="font-size: 28px;">
            #{{sale.correlativeType}}{{getCorrelative(sale.correlative)}}
        </b>
        <span>
            <button *ngIf="sale.status == saleStatusOptions.requested else deshacer" style="height: 40px;"
                (click)="onSubmitForm(saleStatusOptions.attended, user)" [disabled]="loading$ | async" mat-raised-button
                color="accent" type="button">
                <b>ATENDER</b>
            </button>
            <ng-template #deshacer>
                <button 
                  *ngIf="(sale.status != saleStatusOptions.cancelled) && 
                          (sale.status != saleStatusOptions.confirmedDelivery) && 
                          (sale.status != saleStatusOptions.finished)" 
                  mat-raised-button color="warn" type="button" style="height: 40px;" 
                  [disabled]="loading$ | async"
                  (click)="onSubmitForm(sale.status, user, true)" >
                    <b>Deshacer</b>
                </button>
            </ng-template>
        </span>
        <span *ngIf="(sale.status != saleStatusOptions.cancelled) && 
                      (sale.status != saleStatusOptions.confirmedDelivery) && 
                      (sale.status != saleStatusOptions.finished)">
            <button 
              [disabled]="loading$ | async" mat-mini-fab
              (click)="onSubmitForm(saleStatusOptions.cancelled, user)" 
              color="warn" type="button">
              <mat-icon>close</mat-icon>
            </button>
        </span>
    </div>
    <!-- <div *ngIf="products$ | async as products" class="actionsContainer formFieldRounded">
        <mat-form-field *ngIf="sale.status == saleStatusOptions.attended" class="content w3-small"
            style="display: block; width:100%; margin-bottom: 0;" appearance="outline">
            <mat-icon matPrefix></mat-icon>
            <mat-label>Buscar producto</mat-label>
            <input [formControl]="searchProductControl" #product type="text" autocomplete="off" matInput
                placeholder="Buscar producto" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption [displayWith]="displayFn.bind(this)">
                <mat-option *ngFor="let product of products" [value]="product">
                    {{product.description}}
                </mat-option>
            </mat-autocomplete>
            <mat-error>
                <span *ngIf="searchProductControl.errors?.required">Campo requerido</span>
            </mat-error>
        </mat-form-field>
    </div> -->
    <div class="w3-margin-top">
        <table [formGroup]="productForm" class="table-sale">
            <tr>
                <th class="quantity_header"><span>Cant.</span></th>
                <th><span>Descripción</span></th>
                <th class="price_header"><span>Precio</span></th>
            </tr>
            <tr formArrayName="productList"
                *ngFor="let item of productForm.get('productList')['controls']; let i = index">

                <ng-container [formGroupName]="i">
                    <!-- Quantity -->
                    <td class="table-sale__td table-sale__td--space" style="overflow: auto;">
                        <!-- <input *ngIf="sale.status == saleStatusOptions.attended else readQuantity" autocomplete="off"
                            class="table-sale__input--thin" formControlName="quantity" type="number" max=99 min=0
                            required>
                        <ng-template #readQuantity> -->
                            {{item.get('quantity').value}}
                        <!-- </ng-template> -->
                    </td>
                    <!-- Description -->
                    <td class="table-sale__td table-sale__td--space" style="overflow: auto;">

                        <!-- Normal -->
                        <span *ngIf="!item.get('product').value.promo">
                            {{item.get('product').value.description}} ({{item.get('chosenProduct').value.color.name}})
                            <mat-icon style="cursor: pointer; font-size:medium; width:auto"
                                matTooltip="Precio: {{
                                  (sale.user.customerType == 'Mayorista' ? 
                                  item.get('product').value.priceMay : item.get('product').value.priceMin) | currency: 'S/. '}}">
                                info
                            </mat-icon>
                        </span>
                        <!-- We have promo-->
                        <span *ngIf="item.get('product').value.promo">
                            {{item.get('product').value.description}} ({{item.get('chosenProduct').value.color.name}})
                            <mat-icon style="cursor: pointer; font-size:medium; width:auto"
                                matTooltip="Precio: {{(
                                  sale.user.customerType == 'Mayorista' ? 
                                  item.get('product').value.priceMay : item.get('product').value.priceMin) | currency: 'S/. '}}">
                                info
                            </mat-icon>
                            <mat-icon style="cursor: pointer; font-size:medium; width:auto" matTooltip="Oferta ({{onFloor(item.get('quantity').value, item.get('product').value.promoData.quantity)}}): 
                                {{item.get('product').value.promoData.quantity}} 
                                X
                                {{item.get('product').value.promoData.promoPrice | currency: 'S/. '}}">
                                new_releases
                            </mat-icon>
                        </span>

                        <!-- only for packages -->
                        <ng-container *ngIf="item.get('product').value.package">
                            <br>
                            <ul style="margin: 0; padding-left: 14px;">
                                <li *ngFor="let packageItems of item.get('product').value.items; let i2=index">
                                    <ng-container *ngIf="(packageItems.productsOptions.length == 1
                                            || sale.status != saleStatusOptions.attended) else noSingle">

                                        <!-- First case... only one option -->
                                        <ng-container *ngIf="packageItems.productsOptions.length == 1">
                                            {{packageItems.productsOptions[0].description | titlecase}}
                                           
                                        </ng-container>

                                        <!-- Second case... saleStatus is not attended -->
                                        <ng-container *ngIf="packageItems.productsOptions.length != 1 &&
                                            sale.status != saleStatusOptions.attended">
                                            {{item.get('chosenOptions')['controls'][i2].value.description | titlecase}}
                                            
                                        </ng-container>

                                    </ng-container>


                                    <ng-template #noSingle>
                                        <select [formControl]="item.get('chosenOptions')['controls'][i2]">
                                            <option [ngValue]="item.get('chosenOptions')['controls'][i2].value">
                                                {{item.get('chosenOptions')['controls'][i2].value.description | titlecase}}
                                            </option>
                                            <ng-container *ngFor="let product of packageItems.productsOptions">
                                                <option
                                                    *ngIf="item.get('chosenOptions')['controls'][i2].value.id != product.id"
                                                    [ngValue]="product">
                                                    {{product.description | titlecase}}
                                                </option>
                                            </ng-container>

                                        </select>
                                    </ng-template>
                                </li>
                            </ul>
                        </ng-container>

                    </td>
                    <!-- price -->
                    <td class="w3-right-align table-sale__td table-sale__td--space table-sale__td--flex">
                        <span>
                          S/. 
                        </span>
                        <span>
                          {{item.value | productPrice:sale.user | currency: ' '}}
                        </span>
                        <!-- <mat-icon *ngIf="sale.status == saleStatusOptions.attended" class="removeIcon" color="primary"
                            (click)="onDeleteProduct(i)">
                            remove_circle
                        </mat-icon> -->
                    </td>
                </ng-container>

            </tr>
            <tr>
              <td colspan="3" class="table-sale__td table-sale__td--border">

              </td>
            </tr>
            <tr>
                <td class="table-sale__td "
                  colspan="2">
                    SubTotal
                </td>
                <td class="table-sale__td table-sale__td--space table-sale__td--flex">
                    <span>
                      S/. 
                    </span>
                    <span>
                      {{(productForm.get('productList').value | salePrice:sale.user)/1.18
                          | currency:' ':'symbol':'2.2-2'}}
                    </span>
                    
                </td>

            </tr>
            <tr>
                <td colspan="2" class="table-sale__td">
                    I.G.V
                </td>
                <td class="table-sale__td table-sale__td--space table-sale__td--flex">
                    <span>
                      S/. 
                    </span>
                    <span>
                        {{(productForm.get('productList').value | salePrice:sale.user)/1.18*0.18
                          | currency:' ':'symbol':'2.2-2'}}
                    </span>
                </td>

            </tr>
            <tr>
                <td colspan="2" class="table-sale__td">
                    Total
                </td>
                <td class="table-sale__td table-sale__td--space table-sale__td--flex" >
                    <span>
                      S/. 
                    </span>
                    <span>
                        {{productForm.get('productList').value | salePrice:sale.user
                        | currency:' ':'symbol':'2.2-2'}}
                    </span>
                </td>

            </tr>
            <tr>
              <td colspan="2" class="table-sale__td">
                  Cargos adicionales
              </td>
              <td class="table-sale__td table-sale__td--space table-sale__td--flex">
                <span>
                  S/. 
                </span>

                <input *ngIf="sale.status == saleStatusOptions.attended else readDelivery" autocomplete="off"
                        class="table-sale__input--width" formControlName="additionalPrice" 
                        type="number" required min=0>
                <ng-template #readDelivery>
                  <span>
                      {{productForm.get('additionalPrice').value | currency:' ':'symbol':'2.2-2'}}
                  </span>
                </ng-template>
              </td>

            </tr>
            <tr>
              <td colspan="2" class="table-sale__td">
                  Descuento promocional
              </td>
              <td class="table-sale__td table-sale__td--space table-sale__td--flex">
                  <span>
                    S/. 
                  </span>
                  <span>
                      {{productForm.get('couponDiscount').value | currency:' ':'symbol':'2.2-2'}}
                  </span>
              </td>
            </tr>
            <tr>
                <td colspan="2" class="table-sale__td">
                    Delivery
                </td>
                <td class="table-sale__td table-sale__td--space table-sale__td--flex">
                    
                      <span>
                        S/. 
                      </span>
                      <span>
                        {{this.productForm.get('deliveryPrice').value |currency:' ':'symbol':'2.2-2'}}
                      </span>

                    </td>
            </tr>
        </table>
    </div>
    <div class="total-div">
        <!-- <div class="bigCheckbox">
            <mat-checkbox [disabled]="(loading$ | async) || !(user.confi || user.accountant)"
                [formControl]="voucherCheckedForm" (click)="confirmVoucherChecked($event, user)" color="primary">
            </mat-checkbox>
        </div> -->
        <div class="voucher-div">
          <ng-container [ngSwitch]="sale.payType.type">
            <ng-container *ngSwitchCase="1">
              <div class="photo">
                <mat-icon style="font-size: xx-large; height: auto; width:auto;">
                  highlight_off
                </mat-icon>
              </div>
              <div class="photo-number">
                  <span>Entrega</span>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="2">
              <div class="photo">
                <mat-icon style="font-size: xx-large; height: auto; width:auto;">
                  redeem
                </mat-icon>
              </div>
              <div class="photo-number">
                  <span>Tarjeta</span>
              </div>
            </ng-container>
            <ng-container *ngSwitchCase="3">
              <div (click)="checkVouchers(user)" class="photo">
                <mat-icon style="font-size: xx-large; height: auto; width:auto;" *ngIf="sale.voucher.length > 1">
                    collections_bookmark</mat-icon>
                <mat-icon style="font-size: xx-large; height: auto; width:auto;" *ngIf="sale.voucher.length == 1">book
                </mat-icon>
              </div>
              <div class="photo-number">
                  <span>{{sale.voucher.length | number:"2.0-0"}} voucher</span>
              </div>
            </ng-container>
          </ng-container>
            
        </div>
        <div class="ticket__total">
            <span style="white-space: nowrap; overflow-x: auto; font-size:22px">
              {{(productForm.get('productList').value | salePrice:sale.user)
                + productForm.get('additionalPrice').value - productForm.get('couponDiscount').value 
                + this.productForm.get('deliveryPrice').value
              | currency:'S/. ':'symbol':'2.2-2'}}
            </span>
        </div>
    </div>
    <!-- <div class="voucher-div">
        <div class="photo-number">
            <span>{{sale.voucher.length | number:"2.0-0"}} voucher</span>
        </div>
    </div> -->

    <!-- transactionId  -->
    <mat-form-field 
      class="w3-margin-top"
      *ngIf="sale.payType.type == 2"
      style="width: 100%" appearance="outline">
      <mat-label>N° de transacción</mat-label>
      <input readonly matInput placeholder="N° de transacción" 
          [value]="sale.payType.transactionId">
    </mat-form-field>

    <!-- adviserForm  -->
    <mat-form-field style="width: 100%" class="w3-margin-top" appearance="outline">
      <mat-label>Asesor Virtual</mat-label>
      <input 
        [readonly]="sale.status != saleStatusOptions.attended"
        autocomplete="off" 
        [formControl]="adviserForm" 
        [matAutocomplete]="adviserAutocomplete"
        type="text" matInput>
      <mat-error>Por favor, elija una opción</mat-error>
      <mat-autocomplete 
        #adviserAutocomplete="matAutocomplete" 
        [displayWith]="showAdviser">
        <mat-option [value]="null">Sin Asesor</mat-option>
        <mat-option *ngFor="let adviser of (advisers$ | async)" [value]="adviser">
          {{adviser.displayName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    
  <!-- confirmedRequestData -->
  <form style="display:contents" 
        (ngSubmit)="onSubmitForm(saleStatusOptions.confirmedRequest, user)"
        [formGroup]="confirmedRequestForm" 
        *ngIf="
          sale.status == saleStatusOptions.attended ||
          sale.status == saleStatusOptions.confirmedRequest ||
          sale.status == saleStatusOptions.confirmedDocument ||
          sale.status == saleStatusOptions.confirmedDelivery ||
          sale.status == saleStatusOptions.finished ||
          (sale.status == saleStatusOptions.cancelled && !!sale.confirmedRequestData)
          ">

      <!-- Assigned date -->
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>F. Asignada</mat-label>
        <input 
          readonly matInput 
          formControlName="assignedDate"
          [matDatepicker]="assignedDatePicker">
        <mat-datepicker #assignedDatePicker></mat-datepicker>
        <mat-datepicker-toggle 
          matSuffix [for]="assignedDatePicker"
          [disabled]="sale.status != saleStatusOptions.attended">
        </mat-datepicker-toggle>
      </mat-form-field>

      <!-- trackingCode  -->
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Número de seguimiento</mat-label>
        <input 
          [readonly]="sale.status != saleStatusOptions.attended"
          matInput placeholder="0000-0000"
          formControlName="trackingCode">
      </mat-form-field>

      <!-- observation -->
      <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Observaciones</mat-label>
          <textarea formControlName="observation" #observation
              [readonly]="sale.status != saleStatusOptions.attended" rows="4" matInput
              maxlength="150"></textarea>
          <mat-hint align="end">{{observation.value?.length || 0}}/150</mat-hint>
      </mat-form-field>

      <button 
        *ngIf="sale.status == saleStatusOptions.attended" 
        class="w3-block w3-margin-top" mat-raised-button color="accent" 
        type="submit"
        [disabled]="(loading$ | async) || !confirmedRequestForm.valid || 
            !productForm.get('productList')['controls']?.length">
        <b>Confirmar pedido</b>
      </button>
  </form>

  <!-- confirmedDocumentData -->
  <form (ngSubmit)="onSubmitForm(saleStatusOptions.confirmedDocument, user)"
    style="display: contents" [formGroup]="confirmedDocumentForm" 
    *ngIf="
      sale.status == saleStatusOptions.confirmedRequest ||
      sale.status == saleStatusOptions.confirmedDocument ||
      sale.status == saleStatusOptions.confirmedDelivery ||
      sale.status == saleStatusOptions.finished ||
      (sale.status == saleStatusOptions.cancelled && !!sale.confirmedDocumentData)
      ">
      <div style="width: 100%;
              display:flex; flex-direction: row; justify-content: space-between">
          <!-- document  -->
          <mat-form-field style="width: 32%" appearance="outline">
              <mat-label>Tipo de Comp.</mat-label>
              <input formControlName="document" readonly autocomplete="off" type="text" matInput
                  placeholder="Tipo de Comp.">
              <mat-error>
                  <!-- <span *ngIf="productForm.get('realStock').errors?.required">Campo requerido</span>
              <span *ngIf="productForm.get('realStock').errors?.min">Solo positivos</span> -->
              </mat-error>
          </mat-form-field>

          <!-- documentNumber  -->
          <mat-form-field style="width: 64%" appearance="outline">
              <mat-label>Número de Comprobante</mat-label>
              <input 
                formControlName="documentNumber" 
                [readonly]="sale.status != saleStatusOptions.confirmedRequest"
                autocomplete="off" type="text" matInput placeholder="Número de Comprobante">
              <mat-error>
                  Campo requerido
              </mat-error>
          </mat-form-field>
      </div>
      
      <!-- number  -->
      <mat-form-field class="w3-small" style="width: 100%" appearance="outline">
        <mat-label>{{sale.document == "Boleta" ? "DNI" : "RUC"}}</mat-label>
        <input 
          readonly
          [value]="sale.documentInfo.number"
          autocomplete="off" type="text" matInput >
      </mat-form-field>

      <!-- nombre  -->
      <mat-form-field class="w3-small" style="width: 100%" appearance="outline">
        <mat-label>Nombre de {{sale.document == "Boleta" ? "Usuario" : "Empresa"}}</mat-label>
        <input 
          readonly
          [value]="sale.documentInfo.name"
          autocomplete="off" type="text" matInput >
      </mat-form-field>

      <!-- dirección  -->
      <mat-form-field class="w3-small" *ngIf="sale.document == 'Factura'" style="width: 100%" appearance="outline">
        <mat-label>Dirección</mat-label>
        <input 
          readonly
          [value]="sale.documentInfo.address"
          autocomplete="off" type="text" matInput >
      </mat-form-field>

      <button 
        *ngIf="sale.status == saleStatusOptions.confirmedRequest" 
        class="w3-block w3-margin-top" mat-raised-button
        color="accent" type="submit" 
        [disabled]="(loading$ | async) || !confirmedDocumentForm.valid">
        <b>Confirmar comprobante</b>
      </button>

      <!-- <div style="width: 100%;">
          <span class="w3-small w3-text-grey w3-margin-left">Datos de factura</span>
          <p class="invoice_field" style="margin-top: 0px;">{{sale.ruc ? sale.ruc : 'No suministrado'}}</p>
          <p class="invoice_field">{{sale.companyName ? sale.companyName : 'No suministrado'}}</p>
          <p class="invoice_field">{{sale.companyAddress ? sale.companyAddress : 'No suministrado'}}</p>
      </div> -->
  </form>

  <!-- confirmedDeliveryData -->
  <form (ngSubmit)="onSubmitForm(saleStatusOptions.confirmedDelivery, user)"
    style="display: contents" [formGroup]="confirmedDeliveryForm" 
    *ngIf="
      sale.status == saleStatusOptions.confirmedDelivery ||
      sale.status == saleStatusOptions.finished ||
      (sale.status == saleStatusOptions.cancelled && !!sale.confirmedDeliveryData)
      ">
      <div style="width: 100%;
          display:flex; flex-direction: row; justify-content: space-between">
          <!-- referralGuide  -->
          <mat-form-field style="width: 100%" appearance="outline">
              <mat-label>Guia de remisión</mat-label>
              <input 
                [value]="confirmedDeliveryForm.get('referralGuide').value?.orderCode" 
                readonly 
                autocomplete="off" type="text" matInput placeholder="Guia de remisión">
              <mat-error>
                  <!-- <span *ngIf="productForm.get('realStock').errors?.required">Campo requerido</span>
              <span *ngIf="productForm.get('realStock').errors?.min">Solo positivos</span> -->
              </mat-error>
          </mat-form-field>

          <!-- documentNumber  -->
          <!-- <mat-form-field style="width: 64%" appearance="outline">
              <mat-label>Número de Comprobante</mat-label>
              <input 
                [value]="confirmedDeliveryForm.get('referralGuide').value"
                readonly
                autocomplete="off" type="text" matInput placeholder="Número de Comprobante">
              
          </mat-form-field> -->
      </div>

      <!-- deliveryUser  -->
      <mat-form-field style="width: 100%" class="w3-margin-top" appearance="outline">
        <mat-label>Repartidor</mat-label>
        <input 
          placeholder="Asignar Repartidor"
          readonly
          autocomplete="off" 
          formControlName="deliveryUser" 
          [matAutocomplete]="deliveryUserAutocomplete"
          type="text" matInput>
        <mat-error>Por favor, elija una opción</mat-error>
        <mat-autocomplete 
          #deliveryUserAutocomplete="matAutocomplete" 
          [displayWith]="showDeliveryUser">
          <mat-option *ngFor="let deliveryUser of (deliveryUser$ | async)" [value]="deliveryUser">
            {{deliveryUser?.personData?.name+" "+deliveryUser?.personData?.lastName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      
      

      <!-- <button 
        *ngIf="sale.status == saleStatusOptions.confirmedDocument" 
        class="w3-block w3-margin-top" mat-raised-button
        color="accent" type="submit" 
        [disabled]="(loading$ | async) || !confirmedDeliveryForm.valid">
        <b>Enviar a reparto</b>
      </button> -->

      <!-- <div style="width: 100%;">
          <span class="w3-small w3-text-grey w3-margin-left">Datos de factura</span>
          <p class="invoice_field" style="margin-top: 0px;">{{sale.ruc ? sale.ruc : 'No suministrado'}}</p>
          <p class="invoice_field">{{sale.companyName ? sale.companyName : 'No suministrado'}}</p>
          <p class="invoice_field">{{sale.companyAddress ? sale.companyAddress : 'No suministrado'}}</p>
      </div> -->
  </form>

  <!-- finishedData -->
  <form (ngSubmit)="onSubmitForm(saleStatusOptions.finished, user)"
    style="display: contents" [formGroup]="finishedForm" 
    *ngIf="
      sale.status == saleStatusOptions.finished
      ">

      <!-- observation -->
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Observaciones de entrega</mat-label>
        <textarea formControlName="observation" #observation2
            readonly rows="4" matInput
            maxlength="150"></textarea>
        <mat-hint align="end">{{observation2.value?.length || 0}}/150</mat-hint>
    </mat-form-field>

    <!-- <ng-container *ngIf="sale?.location?.coord as coord">
      <div class="w3-margin-top"
        style="width: 100%;
        display:flex; flex-direction: row; justify-content: space-around">

          <a mat-stroked-button
            style="width: 45%"
            [href]="'https://waze.com/ul?ll='+coord.lat+','+coord.lng+'&z=10'"
            target="_blank">
            Waze
          </a>

          <a mat-stroked-button
            style="width: 45%"
            [href]="'https://www.google.com/maps/search/?api=1&query='+coord.lat+','+coord.lng"
            target="_blank">
            Maps
          </a>
      </div>

      <div 
        class="w3-margin-top w3-margin-bottom">
        <google-map height="200px" width="100%" 
          [center]="coord" 
          [zoom]="15">

          <map-marker [position]="coord"></map-marker>
        </google-map>
      </div>
    </ng-container> -->

    <!-- <button 
      *ngIf="sale.status == saleStatusOptions.confirmedDelivery" 
      class="w3-block w3-margin-top" mat-raised-button
      color="accent" type="submit" 
      [disabled]="(loading$ | async) || !finishedForm.valid">
      <b>Entregar</b>
    </button> -->

  </form>

</div>