<div>
  <div class="ms-flex ms-flex--center quantity" *ngIf="reqProductObservable$ | async as reqProd">
    <button mat-mini-fab [ngClass]="
        size == 'md'
          ? 'quantityButton quantityButton--md w3-margin-right'
          : 'quantityButton quantityButton--sm'
      " (click)="decProdNumber()" [disabled]="reqProd.quantity == 1">
      <mat-icon>remove</mat-icon>
    </button>

    <input 
      matInput type="number" min="1" [max]="prodStock$ | async" 
      style="width: 3em" [formControl]="quantityForm"
    />


    <button mat-mini-fab [ngClass]="
        size == 'md'
          ? 'quantityButton quantityButton--md w3-margin-left'
          : 'quantityButton quantityButton--sm'
      " (click)="addProd()" [disabled]="chosen.virtualStock <= quantity">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  
</div>
