<div class="store__container w3-section">
  <div class="ms-flex ms-flex--center" style="justify-content: space-between">
    <div>
      <a routerLink="/main">Inicio</a> > 
      <a routerLink="/main/productos">Productos</a>
      <span *ngIf="searchCategory">
         > <a [routerLink]="['/main/productos',searchCategory]">{{searchCategory}}</a></span>
         <span *ngIf="searchSubCategory">
          > <a (click)="navigate(searchCategory,searchSubCategory)">{{searchSubCategory}}</a></span>
    </div>

    <mat-form-field appearance="outline" class="store__search">
      <mat-label>Busca en los resultados</mat-label>
      <input
        matInput
        placeholder="Busca en los resultados"
        autocomplete="off"
        [formControl]="searchForm"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="w3-row-padding ms-row">
    <div class="w3-col l3 m3 w3-hide-small w3-hide-medium">
      <div style="padding: 8px 0">
        <mat-expansion-panel class="filtro__panel">
          <mat-expansion-panel-header>
            <mat-panel-title (click)="navigateCategory('PCs y laptops')"> PC's y laptops </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option (click)="navigate('PCs y laptops','Laptops')">
              Laptops
            </mat-list-option>
            <mat-list-option (click)="navigate('PCs y laptops','Accesorios')">
              Accesorios
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
        <mat-expansion-panel class="filtro__panel">
          <mat-expansion-panel-header>
            <mat-panel-title (click)="navigateCategory('Computo')"> Computo </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option (click)="navigate('Computo','Accesorios y cables')">
              Accesorios y cables
            </mat-list-option>
            <mat-list-option (click)="navigate('Computo','Procesadores')">
              Procesadores
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
        <mat-expansion-panel class="filtro__panel">
          <mat-expansion-panel-header>
            <mat-panel-title (click)="navigateCategory('Tablets y smartphones')"> Tablets y smartphones </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option (click)="navigate('Tablets y smartphones','Tablets')">
              Tablets
            </mat-list-option>
            <mat-list-option (click)="navigate('Tablets y smartphones','Smartphones')">
              Smartphones
            </mat-list-option>
          </mat-selection-list>
          
        </mat-expansion-panel>
        <mat-expansion-panel class="filtro__panel">
          <mat-expansion-panel-header>
            <mat-panel-title (click)="navigateCategory('Gamer')"> Gamer </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-selection-list #shoes [multiple]="false">
            <mat-list-option (click)="navigate('Gamer','Accesorios')">
              Accesorios
            </mat-list-option>
            <mat-list-option (click)="navigate('Gamer','Audio')">
              Audio
            </mat-list-option>
            <mat-list-option (click)="navigate('Gamer','Microfono')">
              Micrófono
            </mat-list-option>
            <mat-list-option (click)="navigate('Gamer','Silla Gamer')">
              Silla Gamer
            </mat-list-option>
            <mat-list-option (click)="navigate('Gamer','Mouse')">
              Mouse
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
      </div>
    </div>
    
    <div class="store__section w3-col l9">
      
      <div class="w3-margin-top">
        <div class="w3-row ms-row" style="min-height: 80vh;" *ngIf="products$ | async">
          <div
            *ngFor="let product of products | paginate: config"
            class="w3-col col-lg-4 col-sm-6 w3-margin-bottom"
          >
            <div class="w3-padding">
              <app-product-div [product]="product" [offer]="false"></app-product-div>
            </div>
          </div>
        </div>
        <pagination-template
          #p="paginationApi"
          [id]="config.id"
          (pageChange)="config.currentPage = $event"
          maxSize="6"
          autoHide="true"
          class="paginator"
        >
          <div class="ms-flex ms-flex--center">
            <button
              mat-button
              class="paginator__button"
              (click)="p.previous()"
              [disabled]="p.isFirstPage()"
            >
              <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
  
            <div
              *ngFor="let page of p.pages"
              [class.paginator__current]="p.getCurrent() === page.value"
            >
              <a
                (click)="p.setCurrent(page.value)"
                *ngIf="p.getCurrent() !== page.value"
                class="paginator__number"
              >
                <span>{{ page.label }}</span>
              </a>
              <div *ngIf="p.getCurrent() === page.value">
                <span>{{ page.label }}</span>
              </div>
            </div>
            <button
              mat-button
              class="paginator__button"
              (click)="p.next()"
              [disabled]="p.isLastPage()"
            >
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </pagination-template>
      </div>
    </div>
  </div>
</div>
