<div class="store__container w3-section">
  <div class="ms-flex ms-flex--center" style="justify-content: space-between">
    <div>
      <a mat-flat-button routerLink="/main">Inicio</a> >
      <a mat-flat-button routerLink="/main/productos">Productos</a>
      <span *ngIf="searchCategory">
        >
        <a mat-flat-button [routerLink]="['/main/productos', searchCategory]">{{
          searchCategory
        }}</a></span
      >
      <span *ngIf="searchSubCategory">
        >
        <a
          mat-flat-button
          (click)="navigate(searchCategory, searchSubCategory)"
          >{{ searchSubCategory }}</a
        ></span
      >
    </div>

    <mat-form-field appearance="outline" class="store__search">
      <mat-label>Busca en los resultados</mat-label>
      <input
        matInput
        placeholder="Busca en los resultados"
        autocomplete="off"
        [formControl]="searchForm"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="w3-row-padding ms-row">
    <div class="w3-col l3 m3 w3-hide-small w3-hide-medium">
      <div style="padding: 8px 0">
        <mat-nav-list *ngFor="let cat of categories">
          <mat-expansion-panel
            class="filtro__panel"
            *ngIf="cat.subcategories; else nosubcategory"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <a
                  mat-list-item
                  [routerLink]="['/main/productos', cat.category]"
                  >{{ cat.category }}</a
                >
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
              <a
                mat-list-item
                (click)="navigate(cat.category, link)"
                *ngFor="let link of cat.subcategories"
              >
                {{ link }}
              </a>
            </mat-nav-list>
          </mat-expansion-panel>
          <ng-template #nosubcategory>
            <a
              mat-list-item
              style="border-bottom: 1px solid #c4c4c4"
              [routerLink]="['/main/productos', cat.category]"
            >
              {{ cat.category }}
            </a>
          </ng-template>
        </mat-nav-list>
      </div>
    </div>

    <div class="store__section w3-col l9">
      <div class="w3-margin-top">
        <div
          class="w3-row ms-row"
          style="min-height: 80vh"
          *ngIf="products$ | async"
        >
          <div
            *ngFor="let product of products | paginate: config"
            class="w3-col col-lg-4 col-sm-6 w3-margin-bottom"
          >
            <div class="w3-padding">
              <app-product-div
                [product]="product"
                [offer]="false"
              ></app-product-div>
            </div>
          </div>
        </div>
        <pagination-template
          #p="paginationApi"
          [id]="config.id"
          (pageChange)="config.currentPage = $event"
          maxSize="6"
          autoHide="true"
          class="paginator"
        >
          <div class="ms-flex ms-flex--center">
            <button
              mat-button
              class="paginator__button"
              (click)="p.previous()"
              [disabled]="p.isFirstPage()"
            >
              <mat-icon>keyboard_arrow_left</mat-icon>
            </button>

            <div
              *ngFor="let page of p.pages"
              [class.paginator__current]="p.getCurrent() === page.value"
            >
              <a
                (click)="p.setCurrent(page.value)"
                *ngIf="p.getCurrent() !== page.value"
                class="paginator__number"
              >
                <span>{{ page.label }}</span>
              </a>
              <div *ngIf="p.getCurrent() === page.value">
                <span>{{ page.label }}</span>
              </div>
            </div>
            <button
              mat-button
              class="paginator__button"
              (click)="p.next()"
              [disabled]="p.isLastPage()"
            >
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </pagination-template>
      </div>
    </div>
  </div>
</div>

