.store__container {
  max-width: 1215px;
  padding-left: 10px;
  padding-right: 28px;
  width: 100%;
  margin: auto;
}


.store__search {
  width: 250px;
  background-color: white;
}

.paginator {
  background: #f2f2f2;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
  &__button {
    background: #ffffff;
    color: #b9b9b9;
    min-width: 32px !important;
    padding: 0 !important;
  }
  &__number {
    color: #a2a2a2;
    padding: 10px;
    cursor: pointer;
  }
  &__current {
    color: var(--primary);
    padding: 10px;
  }
}


.categories__item .megadrop {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  list-style: none;
  top: 0px;
  left: 220px;
  width: 800px;
  min-height: 100%;
  text-align: left;
  margin-top:30px;
  background-color: white;
  padding: 0;
  z-index: 99;
  overflow: hidden;
  border: 1px solid black;
}
.categories__item:hover .megadrop {
  opacity: 1;
  visibility: visible;
  margin-top: 0px;
}

.filtro {
  &__panel {
    box-shadow: none;
  }

  &__link {
    height: 48px;
    border-bottom: 1px solid #c4c4c4;
    cursor: pointer;
    font-weight: 500;
  }

  &__sub{
    padding: 10px 0;
  }

  &__panel .mat-expansion-panel-header {
    padding: 0px 10px 0px 0px;
    border-bottom: 1px solid #c4c4c4;
    border-radius: 0;
  }

  &__panel .mat-expansion-panel-header.mat-expanded {
    /* height: 64px; */
    border-left: 4px solid  #1c31ea;
  }

  &__panel .mat-expansion-panel-header:hover {
    background-color: transparent;
  }

  &__scroll {
    max-height: 28em;
    overflow: auto;
  }
}

::ng-deep .filtro__panel .mat-expansion-panel-body {
  padding: 0 0 0 10px;
}

.category-button {
  line-height: 36px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}
