.product {
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  height: 435px;
  &__star {
    position: absolute;
    top: 0;
    right: 0;
    color: #ff8a00;
    padding: 8px;
    &--icon {
      height: 36px;
      width: 36px;
      font-size: 36px;
    }
  }
  &__image {
    height: 100%;
    min-height: 220px;
    max-height: 220px;
    object-fit: contain;
  }
  &__title {
    font-family: Montserrat;
    font-size: 1em;
    height: 3em;
    overflow: hidden;
    color: #2b2b2b;
  }
  &__descrip {
    font-family: Roboto;
    font-size: 0.8em;
    color: #828282;
  }
  &__offer {
    color: #eb5757;
    text-decoration: line-through;
  }
  &__price {
    font-family: Roboto;
    font-weight: 500;
    color: var(--primary-color);
    &--number {
      font-size: 1.3em;
    }
  }
  &__discount {
    background-color: #ff8a00;
    color: white;
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 8px 5px 20px;
    display: flex;
    font-family: Roboto;
    clip-path: polygon(100% 0, 100% 68%, 51% 100%, 0 68%, 0 0);
    &--number {
      font-weight: 600;
      font-size: 1.4em;
      letter-spacing: -0.05em;
    }
    &--percent {
      font-size: 0.6em;
      padding-top: 0.6em;
      color: #f2f2f2;
      padding-left: 0.3em;
      text-align: left;
      line-height: 1.2em;
    }
  }
  &__promo {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    color: var(--primary-color);
    font-size: 0.9em;
    margin-top: 8px;
    padding: 5px;
    font-weight: bold;
  }
  &__noStock {
    border: 1px solid var(--warn-color);
    border-radius: 5px;
    color: var(--warn-color);
    font-size: 1.2em;
    margin-top: 8px;
    padding: 5px;
    font-weight: bold;
  }
  &__loader{
    min-height: 165px;
    height: 100%;
  }
}

@media (max-width: 600px) {
  .product {
    max-height: 350px;
    &__star {
      &--icon {
        height: 24px;
        width: 24px;
        font-size: 24px;
      }
    }
    &__image {
      min-height: 150px;
      max-height: 150px;
      object-fit: contain;
      margin-bottom: 0px !important;
    }
    &__title {
      height: 3em;
    }
    &__price {
      &--number {
        font-size: 1em;
      }
    }
  }
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #ececec;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
