<a (click)="navigateProduct(product['sku'])" *ngIf="product">
  <mat-card class="product">
    <div class="product__star" *ngIf="!product.promo">
      <mat-icon class="product__star--icon">grade</mat-icon>
    </div>
    <div class="product__discount" *ngIf="product.promo">
      <div class="product__discount--number">{{ product.promoData.offer }}</div>
      <div class="product__discount--percent">
        <div>%</div>
        <div>OFF</div>
      </div>
    </div>
    <img mat-card-image [defaultImage]="defaultImage" [lazyLoad]="product.photoURL" [offset]="100"
      class="product__image" alt="" />
    <mat-card-content>
      <h4 class="product__title w3-margin-top">{{ product.description }}</h4>

      <div class="product__descrip" [style.visibility]="product.promo ? 'visible' : 'hidden'">
        Antes
        <span class="product__offer">S/. {{ product.price | number: ".2" }}</span>
      </div>
      <div class="product__price">
        <span *ngIf="product.promo">Ahora</span>
        <span class="product__price--number" *ngIf="product.promo">
          S/. {{ product.promoData.promoPrice | number: ".2" }}
        </span>
        <span class="product__price--number" *ngIf="!product.promo">
          S/. {{ product.price | number: ".2" }}
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</a>