<div>
  <div class="ms-flex ms-flex--center quantity" *ngIf="quantity$ | async as quantity; else noAdded">
    <button mat-mini-fab [ngClass]="
        size == 'md'
          ? 'quantityButton quantityButton--md w3-margin-right'
          : 'quantityButton quantityButton--sm'
      " (click)="decrease(product)" [disabled]="quantity == 1">
      <mat-icon>remove</mat-icon>
    </button>
    <input matInput type="number" min="1" [max]="chosen.stock" style="width: 3em" (keydown)="onKeydown($event)"
      [formControl]="quantityForm" (change)="view($event)" />

    <button mat-mini-fab [ngClass]="
        size == 'md'
          ? 'quantityButton quantityButton--md w3-margin-left'
          : 'quantityButton quantityButton--sm'
      " (click)="increase(product)" [disabled]="chosen.stock <= quantity">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
<ng-template #noAdded>
  <button mat-flat-button color="primary" (click)="add(product)" class="product__add" 
    [style.visibility]="chosen.stock > 0 ? 'visible' : 'hidden'">
    <mat-icon>shopping_cart</mat-icon>
    <span> Agregar al Carrito</span>
  </button>
</ng-template>