<div mat-dialog-title>
  <h2 style="font-size: 1.1em; font-family: Montserrat; font-weight: 600">
    <mat-icon style="vertical-align: middle">edit</mat-icon>
    {{ data.edit ? "Editar" : "Agregar" }} Delivery
  </h2>
  <mat-divider></mat-divider>
  <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
</div>
<mat-dialog-content style="max-width: 400px">
  
</mat-dialog-content>
<mat-dialog-content style="width: 800px; max-width: 80vw;">
  <form [formGroup]="formGroup" class="w3-row">
    <div class="w3-col m6 l6 w3-padding">
      <mat-form-field class="w3-block" appearance="outline">
        <mat-label>Departamento</mat-label>
        <mat-select disableRipple formControlName="departamento">
          <mat-option *ngFor="let dept of departamentos" (click)="selectProvincias(dept)" [value]="dept">
            {{ dept.name | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w3-block" appearance="outline">
        <mat-label>Provincia</mat-label>
        <mat-select disableRipple formControlName="provincia">
          <mat-option *ngFor="let option of provincias" (click)="selectDistritos(option)" [value]="option">
            {{ option.name | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="w3-block" appearance="outline">
        <mat-label>Distrito</mat-label>
        <mat-select disableRipple formControlName="distrito">
          <mat-option value="all" (click)="selectDelivery('all')" > 
            Todos los distritos </mat-option>
          <mat-option *ngFor="let option of distritos" (click)="selectDelivery(option)" [value]="option">
            {{ option.name | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <div class="w3-section">
        <ng-container *ngFor="let item of deliveryDistritos">
          <div class="w3-border-bottom w3-border-lightgray w3-padding" style="display: flex; align-items: center">
            <span>{{ item["name"] }}</span>
            <button mat-icon-button (click)="removeProduct(item)" type="button">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="w3-col m6 l6 w3-padding">
      <mat-form-field class="w3-block" appearance="outline">
        <mat-label>Delivery</mat-label>
        <input #input autocomplete="off" formControlName="delivery" type="number" matInput />
      </mat-form-field>
    </div>



  </form>
  <mat-divider></mat-divider>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button class="w3-margin-right" mat-dialog-close>
    Cancelar
  </button>
  <div>
    <button mat-raised-button color="primary" (click)="onSubmitForm()" type="button"
      [disabled]="formGroup.status != 'VALID' || !deliveryDistritos.length">
      Guardar
    </button>
  </div>
</mat-dialog-actions>