<div class="w3-section" *ngIf="initCoupon$ | async">
  <div class="ms-flex ms-flex--center">
    <button mat-icon-button (click)="dbs.changeOpenSide()" class="w3-margin-right">
      <mat-icon>keyboard_return</mat-icon>
    </button>
    <h2 style="font-size:1.5em;">
      Cupones
    </h2>
  </div>
  <button mat-raised-button class="w3-margin-bottom" (click)="openCupon(false,null)" color="primary">
    <span>Agregar Cupón</span>
    <mat-icon style="vertical-align: middle;margin-left: 5px;">add</mat-icon>
  </button>
  <div *ngIf="dataCouponSource.data.length">
    <table mat-table [dataSource]="dataCouponSource" matSort style="width:100%">
      <ng-container class="w3-center" matColumnDef="index">
        <th *matHeaderCellDef class="w3-center">Nº</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{
            1 + i + couponPaginator.pageIndex * couponPaginator.pageSize
          }}
        </td>
      </ng-container>

      <ng-container class="w3-center" matColumnDef="name">
        <th *matHeaderCellDef class="w3-center">Cupón</th>
        <td mat-cell *matCellDef="let element" class="w3-center" style="padding: 0px 10px">
          {{ element['name']}}
        </td>
      </ng-container>

      <ng-container class="w3-center" matColumnDef="discount">
        <th *matHeaderCellDef class="w3-center">Descuento</th>
        <td mat-cell *matCellDef="let element" class="w3-center" style="padding: 0px 10px">
          <span *ngIf="element['type']==1">S/ .</span> {{ element['discount'] }} <span *ngIf="element['type']==2"> %</span>
        </td>
      </ng-container>

      <ng-container class="w3-center" matColumnDef="period">
        <th *matHeaderCellDef class="w3-center">Fecha/Periodo de validez</th>
        <td mat-cell *matCellDef="let element" style="padding: 0px 10px">
         <span *ngIf="element['startDate'];else noDate"> {{element['startDate'].toMillis() | date: "d/MM/yy"}} - {{element['endDate'].toMillis() | date: "d/MM/yy"}}</span>
          <ng-template #noDate>Sin límite</ng-template>
        </td>
      </ng-container>
      <ng-container class="w3-center" matColumnDef="to">
        <th *matHeaderCellDef class="w3-center">Descuento en: </th>
        <td mat-cell *matCellDef="let element" class="w3-center" style="padding: 0px 10px">
          {{ element['redirectTo'] }}
        </td>
      </ng-container>
      <ng-container class="w3-center" matColumnDef="count">
        <th *matHeaderCellDef class="w3-center">Usados </th>
        <td mat-cell *matCellDef="let element" class="w3-center" style="padding: 0px 10px">
          {{ element['count'] }}
        </td>
      </ng-container>
      <ng-container class="w3-center" matColumnDef="actions" sticky>
        <th *matHeaderCellDef style="padding-left: 0.5em" class="w3-center">
          Acciones
        </th>
        <td mat-cell *matCellDef="let element; let ind = index" class="w3-center">
          <ng-container>
            <mat-menu #rawMenu="matMenu">
              <button class="w3-small" mat-menu-item (click)="openCupon(true,element)">
                <mat-icon>edit</mat-icon> Editar
              </button>
              <button class="w3-small" mat-menu-item (click)="deleteDialog(element.id,'coupons','Cupón')">
                <mat-icon>delete</mat-icon> Borrar
              </button>
            </mat-menu>

            <button mat-icon-button [matMenuTriggerFor]="rawMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedCouponColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedCouponColumns"></tr>
    </table>
    <mat-paginator #couponPaginator style="border-radius: 0px 0px 10px 10px" [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons></mat-paginator>
  </div>
</div>