<div class="ms-flex ms-flex--center title-sidenav">
  <button mat-icon-button (click)="dbs.changeOpenSide()" class="w3-margin-right">
    <mat-icon>keyboard_return</mat-icon>
  </button>
  <h2 style="font-family: Montserrat;">Tiendas</h2>
</div>
<mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
<mat-card>
  <mat-card-content>
    <div class="w3-block ms-flex ms-flex--center" style="justify-content: space-between; align-items: baseline;">
      <button mat-flat-button class="w3-margin-bottom" (click)="openStoreDialog(false,null)" color="primary">
        <span>Agregar</span>
        <mat-icon style="vertical-align: middle; margin-left: 5px">add</mat-icon>
      </button>

      <mat-form-field color="primary" class="content w3-small w3-margin-right" appearance="outline">
        <mat-label>Buscar</mat-label>
        <mat-icon matPrefix class="w3-margin-right">search</mat-icon>
        <input (keyup)="applyFilter($event)" matInput type="text" placeholder="Escriba..." autocomplete="off" />
      </mat-form-field>

    </div>
  </mat-card-content>
</mat-card>
<mat-card class="w3-margin-top" *ngIf="initStore$ | async">
  <div style="overflow: auto">
    <table mat-table [dataSource]="dataStoreSource" matSort style="width:100%">
      <ng-container class="w3-center" matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef class="w3-center">Nº</th>
        <td mat-cell *matCellDef="let element; let i = index">
          {{ 1 + i + storePaginator.pageIndex * storePaginator.pageSize }}
        </td>
      </ng-container>

      <ng-container class="w3-center" matColumnDef="departamento">
        <th mat-header-cell *matHeaderCellDef class="w3-center">Departamento</th>
        <td mat-cell *matCellDef="let element" class="w3-center" style="padding: 0px 10px">
          {{ element["departamento"]['name'] | titlecase }}
        </td>
      </ng-container>

      <ng-container class="w3-center" matColumnDef="provincia">
        <th mat-header-cell *matHeaderCellDef class="w3-center">Provincia</th>
        <td mat-cell *matCellDef="let element" class="w3-center" style="padding: 0px 10px">
          {{ element["provincia"]['name'] }}
        </td>
      </ng-container>

      <ng-container class="w3-center" matColumnDef="distritos">
        <th mat-header-cell *matHeaderCellDef class="w3-center">Distritos</th>
        <td mat-cell *matCellDef="let element" style="padding: 0px 10px">
          {{ element["distrito"]['name'] }}

        </td>
      </ng-container>
      <ng-container class="w3-center" matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef class="w3-center">Dirección</th>
        <td mat-cell *matCellDef="let element" class="w3-center" style="padding: 0px 10px">
          {{element.address}}
        </td>
      </ng-container>
      <ng-container class="w3-center" matColumnDef="schedule">
        <th mat-header-cell *matHeaderCellDef class="w3-center">Horario de atención</th>
        <td mat-cell *matCellDef="let element" class="w3-center" style="padding: 0px 10px">
          {{element.schedule}}
        </td>
      </ng-container>
      <ng-container class="w3-center" matColumnDef="actions" sticky>
        <th mat-header-cell *matHeaderCellDef style="padding-left: 0.5em" class="w3-center">
          Acciones
        </th>
        <td mat-cell *matCellDef="let element; let ind = index" class="w3-center">
          <ng-container>
            <mat-menu #rawMenu="matMenu">
              <button class="w3-small" mat-menu-item (click)="openStoreDialog(true,element)">
                <mat-icon>edit</mat-icon> Editar
              </button>
              <button class="w3-small" mat-menu-item (click)="deleteDialog(element.id,'stores','Tienda')">
                <mat-icon>delete</mat-icon> Borrar
              </button>
            </mat-menu>

            <button mat-icon-button [matMenuTriggerFor]="rawMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedStoreColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedStoreColumns"></tr>
    </table>
  </div>

  <mat-paginator #storePaginator style="border-radius: 0px 0px 10px 10px" [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons></mat-paginator>
</mat-card>