<mat-progress-bar mode="indeterminate" *ngIf="loadingAll$ | async"></mat-progress-bar>
<div class="ms-container" *ngIf="init$ | async">
  <div class="w3-section" style="padding: 4em 0">
    <h2 class="title-section">Contáctanos</h2>
    <div class="w3-row" style="margin-top: 4em">
      <div class="w3-col m6 w3-padding">
        <div class="w3-margin-bottom contact__info">
          <div class="contact__title">
            <mat-icon class="contact__icon">location_on</mat-icon>
            Encuentranos en
          </div>
          <p class="contact__descrip">
            {{ contact.address }}
          </p>
        </div>
        <div class="w3-margin-bottom contact__info">
          <div class="contact__title">
            <mat-icon class="contact__icon">phone</mat-icon>
            Teléfono
          </div>
          <p class="contact__descrip">
            {{ contact.phone }}
          </p>
        </div>
        <div class="w3-margin-bottom contact__info">
          <div class="contact__title">
            <mat-icon class="contact__icon">email</mat-icon>
            Nuestros e-mail
          </div>
          <p class="contact__descrip">
            {{ contact.email }}
          </p>
        </div>
        <div class="w3-margin-bottom w3-margin-top contact__info">
          <google-map height="280px" width="100%" [center]="center" [zoom]="zoom">
            <map-marker [position]="center"></map-marker>
          </google-map>
        </div>
      </div>
      <div class="w3-col m6">
        <mat-card class="w3-block contact__form">
          <h4 class="contact__title w3-center">Déjanos un mensaje</h4>
          <form [formGroup]="formGroup" class="w3-margin-top">
            <mat-form-field class="w3-block" appearance="outline">
              <mat-label>Nombres / Apellidos</mat-label>
              <input autocomplete="off" formControlName="name" type="text" matInput placeholder="Nombres / Apellidos" />
              <mat-error>Campo requerido</mat-error>
            </mat-form-field>
            <mat-form-field class="w3-block" appearance="outline">
              <mat-label>Correo</mat-label>
              <input autocomplete="off" formControlName="email" type="email" matInput
                placeholder="tucorreo@ejemplo.com" />
            </mat-form-field>

            <mat-form-field class="w3-block" appearance="outline">
              <mat-label>Teléfono</mat-label>
              <input autocomplete="off" formControlName="phone" type="tel" matInput placeholder="Teléfono" />
            </mat-form-field>
            <mat-form-field class="w3-block" appearance="outline">
              <mat-label>Mensaje</mat-label>
              <textarea autocomplete="off" formControlName="message" matInput placeholder="Escriba.."
                rows="6"></textarea>
            </mat-form-field>
          </form>
          <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
          <div class="w3-center w3-margin-top">
            <button (click)="sendEmail()" [disabled]="!formGroup.valid" mat-flat-button color="primary"
              class="contact__button">
              <span> Enviar</span>
            </button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>