<div *ngIf="init$ | async;else loader">
    
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem class="slide" *ngFor="let ban of banners">
        <a (click)="navigateBrand(ban)">
          <img [src]="ban.photoURL" class="w3-block-banner" alt="" />
        </a>
      </div>   
    </ngx-slick-carousel>

    <ngx-slick-carousel class="carousel-movil" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem class="slide" *ngFor="let ban of banners">
        <a (click)="navigateBrand(ban)">
          <img [src]="ban.photomovilURL" class="w3-block-banner" alt="" />
        </a>
      </div>      
    </ngx-slick-carousel>

  <div class="w3-padding w3-center">
    <div class="font--primary">
      <mat-icon fontSet="material-icons-outlined" class="section__icon">offline_bolt</mat-icon>
    </div>
    <h2 class="title-section">Ofertas</h2>
  </div>

  <div class="img-oferta">
    <a (click)="navigateBrand(pro)" *ngFor="let pro of promo;  let i = index">
      <img [src]="pro.photoURL" class="w3-block-{{i}}" alt="promo" />
    </a>
  </div>
  


  <div class="w3-section ms-container">
    <div class="section">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig2">
        <div ngxSlickItem *ngFor="let slide of offers" class="slide">
          <div class="w3-padding">
            <app-product-div [product]="slide" [price]="0"></app-product-div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
    <div class="section">
      <div class="ms-flex">
        <div class="w3-col m6 l6" style="display: flex; align-items: center">
          <div class="w3-center">
            <h2 class="section__title font--primary">{{middle.title}}</h2>
            <p class="section__paragraph">
              {{middle.descrip}}
            </p>
            <button mat-flat-button color="primary" class="section__button w3-margin-top" routerLink="/main/productos">
              <span> Ver productos</span>
            </button>
          </div>
        </div>
        <div class="w3-col m6 l6">
          <img [src]="middle.photoURL" class="w3-block" alt="" />
        </div>
      </div>
    </div>
    <div class="section">
      <div class="w3-padding w3-center">
        <div class="font--primary">
          <mat-icon class="section__icon">important_devices</mat-icon>
        </div>
        <h2 class="title-section">Nuestros Productos</h2>
      </div>
      <mat-tab-group class="section__tab w3-margin-top" mat-align-tabs="center" color="primary">
        <mat-tab label="Los más buscados" *ngIf="listproducts.length">
          <div class="w3-margin-top">
            <div class="w3-row">
              <div *ngFor="let prod of listproducts" class="w3-col col-xs-6 col-sm-4 col-xxl-3 w3-margin-bottom">
                <div style="padding:0 8px">
                  <app-product-div [product]="prod" [price]="0"></app-product-div>
                </div>
              </div>
            </div>
            <div class="w3-center w3-margin-top">
              <button routerLink="/main/productos" mat-flat-button color="primary" class="section__button">
                <span> Ver más</span>
              </button>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Últimos productos" *ngIf="lastProducts.length">
          <div class="w3-margin-top">
            <div class="w3-row">
              <div *ngFor="let prod of lastProducts" class="w3-col col-xs-6 col-sm-4 col-xxl-3 w3-margin-bottom">
                <div style="padding:0 8px">
                  <app-product-div [product]="prod" [price]="0"></app-product-div>
                </div>
              </div>
            </div>
            <div class="w3-center w3-margin-top">
              <button mat-flat-button routerLink="/main/productos" color="primary" class="section__button">
                <span> Ver más</span>
              </button>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Ofertas" *ngIf="offersProducts.length">
          <div class="w3-padding w3-margin-top">
            <div class="w3-row">
              <div *ngFor="let prod of offersProducts" class="w3-col col-xs-6 col-sm-4 col-xxl-3 w3-margin-bottom">
                <div style="padding:0 8px">
                  <app-product-div [product]="prod" [price]="0"></app-product-div>
                </div>
              </div>
            </div>
            <div class="w3-center w3-margin-top">
              <button mat-flat-button color="primary" routerLink="/main/productos" class="section__button">
                <span> Ver más</span>
              </button>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <div class="section">
    <div class="w3-padding w3-center">
      <div class="font--primary">
        <mat-icon class="section__icon">favorite</mat-icon>
      </div>
      <h2 class="title-section">Lo que nuestros clientes opinan</h2>
    </div>
    <div class="section w3-margin-top">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig3">
        <div ngxSlickItem *ngFor="let slide of testimonies" class="slide">
          <div class="w3-padding">
            <div class="customer">
              <div class="customer__image w3-padding">
                <img [src]="slide.photoURL" class="w3-block w3-circle" alt="" />
              </div>
              <div class="customer__content">
                <h3 class="customer__title">{{slide.name}}</h3>
                <p class="customer__comment">
                  {{slide.message}}
                </p>
                <div class="customer__rating">
                  <span *ngFor="let star of getStars(slide.rating)">
                    <mat-icon *ngIf="star;else nofill">star</mat-icon>
                    <ng-template #nofill>
                      <mat-icon>star_outline</mat-icon>
                    </ng-template>

                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>

</div>

<ng-template #loader>
  <div style="height: 100vh;display: flex;align-items: center;justify-content: center;">
    <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </div>
</ng-template>